In [1]:
#1. 우리 반 학생들의 이름과 나이 저장하기
ban = {'메이킷':17,'우진':9,'시은':11,'제임스':10}
ban

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}

In [2]:
#2. 자기소개하기
s = {'사는 곳':'서울','성별':'여자','이름':'시은','나이':11,'혈액형':'b'}
print("내가 살고 있는 곳은",s['사는 곳'],"입니다")
print('나의 성별은',s['성별'],'이고 이름은',s['이름'],'입니다.')
print('나이는',s['나이'],'이고 이름은',s['혈액형'],'형입니다.')

내가 살고 있는 곳은 서울 입니다
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11 이고 이름은 b 형입니다.

In [3]:
#3. 딕셔너리에 추가하기
s = {'사는곳':'인천 송도','성별':'남자','이름':'우진'}
print('나의 성별은',s['성별'],'이고 이름은',s['이름'],'입니다.')
print('나이는',input('나이는 몇 살 인가요?'),'살 이고 혈액형은',input('형액형은 무엇인가요?'),'입니다.')

나의 성별은 남자 이고 이름은 우진 입니다.
나이는 몇 살 인가요?9
형액형은 무엇인가요?b
나이는 9 살 이고 혈액형은 b 입니다.

In [4]:
#4. 딕셔너리에서 삭제하기
s = {'사는 곳':'인천 송도','성별':'남자','이름':'우진'}
del s['사는 곳']
s

{'성별': '남자', '이름': '우진'}

In [5]:
#5.  딕셔너리에서 뽑아내기 keys(),values(),items()
s = {'사는곳':'인천 송도','성별':'남자','이름':'우진'}
s.keys()

dict_keys(['사는곳', '성별', '이름'])

In [6]:
s.values()

dict_values(['인천 송도', '남자', '우진'])

In [7]:
s.items()

dict_items([('사는곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')])

In [8]:
#6. 딕셔너리와 if 조건문의 만남
store = {'새우칩':1500,'옥수수칩':1800,'콜라':700,'양파칩':1300}
n = input('물품 이름은?')
if n == '새우칩':
    print('새우칩의 가격은',store['새우칩'],'입니다.')
elif n == '옥수수칩':
    print('옥수수칩의 가격은',store['옥수수칩'],'입니다.')
elif n == '콜라':
    print('콜라의 가격은',store['콜라'],'입니다.')
elif n == '양파칩':
    print('양파칩의 가격은',store['양파칩'],'입니다.')
else:
    print(n,'는 등록되어 있지 않습니다.')

물품 이름은?새우칩
새우칩의 가격은 1500 입니다.

In [9]:
#7. 딕셔너리의 값으로 리스트 사용하기
# 물품 정보를 딕셔너리에 저장
store = {
    "새우칩": [1500, 3],
    "옥수수칩": [1800, 2],
    "콜라": [700, 4],
    "양파칩": [1300, 1]
}

# 각 물품 출력
i = 1
for name, info in store.items():
    price = info[0]
    count = info[1]
    print(f"{i}번 물품은 {name} 이고 가격은 {price} 이고 수량은 {count}개입니다")
    i += 1

# 가게 요약 정보
print(f"우리 가게는 {len(store)}개의 물건 종류가 있습니다")

# 총 수량, 총 가격, 평균 가격 계산
total_count = sum([info[1] for info in store.values()])
total_price = sum([info[0] * info[1] for info in store.values()])
avg_price = total_price / total_count

print(f"우리 가게 모든 물건 수량은 {total_count}개 있습니다")
print(f"우리 가게 모든 물건들의 가격 총합은 {total_price}입니다")
print(f"우리 가게 모든 물건들의 평균 가격은 {avg_price:.1f}원입니다")

1번 물품은 새우칩 이고 가격은 1500 이고 수량은 3개입니다
2번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2개입니다
3번 물품은 콜라 이고 가격은 700 이고 수량은 4개입니다
4번 물품은 양파칩 이고 가격은 1300 이고 수량은 1개입니다
우리 가게는 4개의 물건 종류가 있습니다
우리 가게 모든 물건 수량은 10개 있습니다
우리 가게 모든 물건들의 가격 총합은 12200입니다
우리 가게 모든 물건들의 평균 가격은 1220.0원입니다

In [10]:
#8. 딕셔너리의 값으로 딕셔너리 사용하기
score = {
    '우진':{'코딩':95,'수학':99},
    '시은':{'과학':100,'코딩':99},
    '메이킷':{'영어':85,'코딩':100}
}

print('우진이의 코딩 점수는?',score['우진']['코딩'])
print('시은이의 과학 점수는?',score['시은']['과학'])
print('메이킷이의 영어 점수는?',score['메이킷']['영어'])

우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷이의 영어 점수는? 85

In [11]:
#9. 두 수 비교하기
x = int(input())
y = int(input())

if x > y:
    print('makit')
elif x < y:
    print('woojin')

7
10
woojin

In [12]:
#10. 세 개의 수 비교하기
a = int(input('첫 번째 정수를 입력하세요:'))
b = int(input('두 번째 정수를 입력하세요:'))
c = int(input('세 번째 정수를 입력하세요:'))
x = [a,b,c]
for i in x:
    if i%2 == 1:
        print(i)

첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17
3
17

In [13]:
#11. 홀수 찾기
a = int(input('첫 번째 정수를 입력하세요:'))
b = int(input('두 번째 정수를 입력하세요:'))
c = int(input('세 번째 정수를 입력하세요:'))
x = [a,b,c]
for i in x:
    if i%2 == 0:
        print(i,'짝수')
    else:
        print(i,'홀수')

첫 번째 정수를 입력하세요:89
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17
89 홀수
8 짝수
17 홀수

In [25]:
#12 양수,음수,홀수,짝수 구분하기
a = int(input())
for i in range(1):
    if a > 0:
        if a%2 ==0:
            print('양수이고 짝수')
        else :
            print('양수이고 홀수')
    else:
        if a%2==0:
            print('음수이고 짝수')
        else:
            print('음수이고 홀수')

15
양수이고 홀수

In [27]:
#13 성적 결과 계산하기
score = int(input())
if score >= 90:
    print('A학점')
elif  90 > score >= 80:
    print('B학점')
elif  80> score >= 70:
    print('C학점')
elif  70> score >= 60:
    print('D학점')
elif score < 60:
    print('F학점')

89
B학점

In [28]:
#14 입력에 따라 친구 이름 출력하기
name = input()
if name == 'm':
    print('makit')
elif name == 'j':
    print('james')
elif name == 'w':
    print('woojin')
elif name == 's':
    print('sieun')
else:
    print('howard')

howard

In [29]:
#15  봄,여름,가을,겨울
i = int(input('몇 월 달 인가요?'))
if i == 12 or i == 1 or i == 2:
    print('겨울')
elif i == 3 or i == 4 or i == 5:
    print('봄')
elif i == 6 or i == 7 or i == 8:
    print('여름')
elif i == 9 or i == 10 or i == 11:
    print('가을')

몇 월 달 인가요?8
여름

In [30]:
#16 12월은 31일까지 있어요
i = int(input('몇 월 달 인가요? '))
if i == 2:
    print(f"{i}월은 28일까지 있습니다.")
elif i == 4 or i == 6 or i == 9 or i == 11:
    print(f"{i}월은 30일까지 있습니다.")
elif i == 1 or i == 3 or i == 5 or i == 7 or i == 8 or i == 10 or i == 12 :
    print(f"{i}월은 31일까지 있습니다.")

몇 월 달 인가요? 7
7월은 31일까지 있습니다.

In [31]:
#17 까다로운놀이기구1
name = input('이름을 입력하세요: ')
tall = int(input('키를 입력하세요: '))
if name.startswith('m') or 170 > tall >= 150:
    print('탈 수 있어요')
else:
    print('탈 수 없어요')

이름을 입력하세요:
키를 입력하세요: 5
탈 수 없어요

In [32]:
#18 까다로운놀이기구2
tall = int(input('키를 입력하세요: '))
if 170> tall >=150 or 180 >= tall >= 175:
    print('탈 수 있어요')
else:
    print('탈 수 없어요')

키를 입력하세요: 157
탈 수 있어요

In [33]:
#19 까다로운놀이기구3
tall = int(input('키을 입력하세요: '))
sex = input('성별를 입력하세요: ')
if 170 > tall >= 150 and sex == '여자' or tall%5 ==0 and sex == '여자':
    print('탈 수 있어요')
else:
    print('탈 수 없어요')

키을 입력하세요: 78
성별를 입력하세요: 남자
탈 수 없어요

In [ ]:
#20 터널 통과하기
tunnel = list(map(int, input().split()))
car_height = 150

if all(height > car_height for height in tunnel):
    print('터널 통과 가능')
else:
    print('터널 통과 불가능')

In [ ]:
#21 올해는 윤년일까? Yes or No
year = int(input('연도를 입력하세요:'))
if year%4 == 0 and year%100 != 0 or year%400 == 0:
    print(f"{year}은 윤년입니다.")
else:
    print(f"{year}은 윤년이 아닙니다.")

In [ ]:
#22 주민등록번호 분석기
i = input('주민등록번호 입력:')

In [ ]:
#23 윷놀이
play = list(map(int, input().split()))
if sum(play) == 1:
    print('도')
elif sum(play) == 2:
    print('개')
elif sum(play) == 3:
    print('걸')
elif sum(play) == 4:
    print('윷')
elif sum(play) == 0:
    print('모')

In [ ]:
#24 표준 몸무게 알아보기
a = list(map(float, input().split()))
i = (a[1]/(a[0]*a[0]))*10000
if i < 18.5:
    print(f"BMI지수는 {i}이고 저체중 입니다.")
elif 18.5 <= i <= 22.9:
    print(f"BMI지수는 {i}이고 정상 입니다.")
elif 23 <= i <= 24.9:
    print(f"BMI지수는 {i}이고 과체중 입니다.")
elif 25 <= i <= 29.9:
    print(f"BMI지수는 {i}이고 경도 비만 입니다.")
elif 30 <= i :
    print(f"BMI지수는 {i}이고 고도 비만 입니다.")

In [ ]:
#25 삼각형 만들기

a = list(map(int,input().split()))
if sum(a) - max(a) > max(a):
    print('삼각형 가능')
else:
    print('삼각형 불가능')

In [ ]:
#26 로켓발사1
for i in range(1,11):
    print(i)
print('발사!')

In [ ]:
#27 로켓발사2
i = 1
while i <= 10:
    print(i)
    if i >= 10:
        break
    i += 1
print('발사!')

In [ ]:
#28 로켓 발사 10초 전
a = int(input('카운트다운 몇 초 전인가요?'))
for i in range(a+1)[::-1]:
    print(i)
print('발사!')

In [ ]:
#29 1부터 100까지 모두 합한수1
a = int(input())
sum = 0
for i in range(a+1):
    sum = sum + i
print(sum)

In [ ]:
#30 1부터 100까지 모두 합한수2
i = int(input())
hap = 0
while  i <= 10:
    if i >= 10:
        break
    hap = hap + i
print(hap)

In [ ]:
#31 음수 나올 떄까지 반복하기
a = int(input('숫자를 입력하세요'))
while a > 0:
    if i > 0:
        print(i)
    else:
        ('종료합니다.')

In [ ]:
#32 옆으로 출력하기
for i in range(1,11):
    print(i,end=' ')

In [ ]:
#33 1+2+3+4+5 = 15
a =int(input('첫번째 숫자를 입력하세요.'))
b =int(input('두번째 숫자를 입력하세요'))
hap = 0
for i in range(a,b+1):
    hap = hap + i
print(hap)

In [ ]:
#34 짝수들만 합하기
a =int(input('첫번째 숫자를 입력하세요.'))
b =int(input('두번째 숫자를 입력하세요'))
hap = 0
for i in range(a,b+1):
    if i%2 == 0:
        hap = hap + i
print(hap)

In [2]:
#35 for반복문과 문자열의 만남
a = input('하나의 문자열을 입력하세요:')
for i in a: 
    if i != 'a':
        print(i,end='')

하나의 문자열을 입력하세요:james makit apple woojin sieun
jmes mkit pple woojin sieun

In [ ]:
#36 for 반복문과 리스트의 만남
a = 0
names =  ['우진','시은','메이킷','지연','지훈']
for i in names:
    a = a+1
    print(a,'번 친구',i,'을 소개합니다.')

In [ ]:
#37 다음 반복문으로 바로가기
for i in range(1,31):
    if i%5 !=0: 
        print(i,end=' ')

In [ ]:
#38 반복문 깨고 바로 나가기
num = 3  # 시작 숫자
count = 1  # 몇 번째 숫자인지 세는 변수

for i in range(1, 100):  # 반복문
    if count == 100:
        break
    num += 5
    count += 1

print(num)

In [34]:
#39 가장 작은 숫자 찾기
a = list(map(int,input().split()))
print(min(a))

8
8

In [35]:
#40 터널 통과하기20
car_height = int(input())
tunnel = list(map(int,input().split()))

for i in tunnel:
    if car_height > i:
        print('터널 통과 불가능')
        print(i)
else:
    print('터널 통괄 가능')

7
8 78 8
터널 통괄 가능

In [36]:
#41 행운의 숫자 7 모두 찾기
hap = 0
for i in range(1,1001):
    a = (str(i).count('7'))
    hap = hap + a
print(hap)

300

In [37]:
#42 약수 구하기
n =int(input())
j = []
for i in range(1,n+1):
    if n%i == 0:
        print(i,end = ' ')

78
1 2 3 6 13 26 39 78

In [38]:
#43 리스트 최대,최소,평균 구하기
# 정수 개수 입력
n = int(input("정수의 개수를 입력하세요: "))

# 정수 n개 입력받기 (음수 포함 가능)
numbers = list(map(int, input("정수를 입력하세요 :").split()))

# 최대값, 최소값, 평균 계산
maximum = max(numbers)
minimum = min(numbers)
average = sum(numbers) / len(numbers)

# 결과 출력
print("최댓값:", maximum)
print("최솟값:", minimum)
print("평균:", round(average, 2))  # 평균을 소수 둘째 자리까지 반올림

정수의 개수를 입력하세요: 5
정수를 입력하세요 (공백으로 구분): 3 2 -20 100 35
최댓값: 100
최솟값: -20
평균: 24.0

In [ ]:
#44 리스트 최대,최소,평균 구하기2

In [43]:
#45 각 자릿수의 합 구하기
data = list(map(int,input()))
sum(data)

1234

10

In [ ]:
#46 각 자릿수의 합 구하기2

In [ ]:
#47 카이사르 암호

In [44]:
#48 소분자는 대문자로, 대문자는 소문자로 변환하기
text = input()
swapped_text = text.swapcase()
print(swapped_text)

Makit Code Lab!!
mAKIT cODE lAB!!