In [1]:
#1 화면에 Hello World 문자열을 출력하세요.
print('Hello Woerd')

Hello Woerd

In [3]:
#2 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cometics")

Mary's cometics

In [5]:
#3 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리지렀다."도둑이야".')

신씨가 소리지렀다."도둑이야".

In [9]:
#4 화면에 C:\Windows를 출력하세요.
print('C:\Windows')

C:\Windows

### 5 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요

### \n은 줄바꿈을 의미하고 \t는 tap을 의미한다.

In [8]:
#6 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print('"오늘은", "일요일"')

"오늘은", "일요일"

In [7]:
#7 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep=";")

naver;kakao;sk;samsung

In [1]:
#8 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep="/")

naver/kakao/sk/samsung

In [6]:
#9 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first",end=" ");print("secend")

first secend

In [8]:
#10 5/3의 결과를 화면에 출력하세요.
5/3

1.6666666666666667

In [9]:
#11 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000

In [13]:
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [19]:
#12 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 2980000000000000
현재가 = 500000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER,type(PER))

2980000000000000 <class 'int'>
500000 <class 'int'>
15.79 <class 'float'>

In [20]:
# 13 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = 'hello'
t = 'python'

In [22]:
print(s+"! "+t)

hello! python

In [23]:
#14 아래 코드의 실행 결과를 예상해보세요.
print(2+2*3)

8

In [24]:
#15 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = "132"
print(type(a))

<class 'str'>

In [26]:
#16 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [27]:
print(int(num_str),type(int(num_str)))

720 <class 'int'>

In [28]:
#17 정수 100을 문자열 '100'으로 변환해보세요.
print(str(100),type(str(100)))

100 <class 'str'>

In [30]:
#18 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
print(int(15.79),type(int(15.79)))

15 <class 'int'>

In [31]:
#19 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
print(int(year),type(int(year)))

2020 <class 'int'>

In [36]:
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [38]:
# 20 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
wol = 48584
print(wol*36)

1749024

In [43]:
#21 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0],letters[2])

p t

In [44]:
#22 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate='24가 2210'
print(license_plate[4:])

2210

In [47]:
#23 아래의 문자열에서 '홀' 만 출력하세요.
string='홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [51]:
#24 문자열을 거꾸로 뒤집어 출력하세요.
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [61]:
#25 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [65]:
#26 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [67]:
#27 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[17:])

kr

In [70]:
#28 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: 'str' object does not support item assignment

In [71]:
#29 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [72]:
#30 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b','B')
print(string)
# 문자열은 변경할 수 없는 자료형이기 떄문에 그대로 출력된다.

abcd

In [74]:
#31 아레코드를  예상해보세요
a = "3"
b = "4"
print(a + b)
# 문자열 을 더한 값인 34가 출력된다.

34

In [75]:
#32 아레코드를  예상해보세요
print("Hi" * 3)

#HiHIii

HiHiHi

In [78]:
#33 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [92]:
#34 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
t3 = t1 + ' '+ t2 + ' '
print(t3*4)

python java python java python java python java

In [95]:
#35 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s,나이: %d' % (name1,age1))
print('이름: %s,나이: %d' % (name2,age2))

이름: 김민수,나이: 10
이름: 이철희,나이: 13

In [96]:
#36 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
#37 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [105]:
#38 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
상장주식수.replace(',','')
print(int(상장주식수.replace(',','')))

5969782550

In [98]:
#39 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [102]:
#40 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [106]:
#41 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [1]:
#42 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [4]:
#43 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [3]:
# 44 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [7]:
# 45 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name.endswith(('xlsx','xls'))

True

In [9]:
# 46 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [10]:
#47 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
a.split(" ")

['hello', 'world']

In [12]:
# 48 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [13]:
# 49 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [14]:
# 50 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
data.rstrip()

'039490'

In [1]:
# 51 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)


movie_rank =["닥터스트레인지","스플릿","럭키"]

In [2]:
#52 
movie_rank.append("베트맨")

In [3]:
#53 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
print(movie_rank)
movie_rank.insert(1,"슈퍼맨")

['닥터스트레인지', '스플릿', '럭키', '베트맨']

In [4]:
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [5]:
#54 movie_rank 리스트에서 '럭키'를 삭제하라.movi
movie_rank.remove('럭키')
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '베트맨']

In [6]:
#55 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank.remove('스플릿')
movie_rank.remove('베트맨')
print(movie_rank)

['닥터스트레인지', '슈퍼맨']

In [8]:
#56 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [9]:
#57 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums),min(nums))

7 1

In [11]:
#58 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [12]:
#59 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [14]:
# 60 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

3.0

In [15]:
#61 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [16]:
#62 슬라이싱을 사용해서 홀수만 출력하라
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [22]:
#63 슬라이싱을 사용해서 짝수만 출력하라.
nums[1::2]

[2, 4, 6, 8, 10]

In [24]:
#64 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [26]:
#65 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']
interest[::2]

['삼성전자', 'Naver']

In [29]:
# 66 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [30]:
#67 interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [34]:
#68 join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
'\n,'.join(interest)

'삼성전자\n,LG전자\n,Naver\n,SK하이닉스\n,미래에셋대우'

In [37]:
#69  회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [39]:
#70 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [40]:
#71 my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()

In [41]:
#72 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
my_variable = list(my_variable)
my_variable.append("닥터 스트레인지")
my_variable.append("스플릿")
my_variable.append("럭키")
my_variable = tuple(my_variable)

In [42]:
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [47]:
# 73 숫자 1 이 저장된 튜플을 생성하라.
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>

# 74 다음 코드를 실행해보고 오류가 발생하는 원인을 설명해라.
* t = (1, 2, 3)
* t[0] = 'a'
* Traceback (most recent call last):
* File "<pyshell#46>", line 1, in <module>
* t[0] = 'a'
* TypeError: 'tuple' object does not support item assignment
 
# 원인: 튜플에 원소는 변경할 수 없기 떄문에

In [2]:
# 75 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t = 1, 2, 3, 4
print(type(t))
# 튜플

<class 'tuple'>

In [5]:
# 76 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')
t = ('A', 'B', 'C')
print(t)

('A', 'B', 'C')

In [17]:
# 77 다음 튜플을 리스트로 변환해라
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(type(interest))

<class 'list'>

In [ ]:
#78 다음 리스트를 튜플로 변경하라.
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(data))

In [12]:
#79 다음 코드의 실해 결과를 예상하라.
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [26]:
#80 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [28]:
#81 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
a, b, *c = (0, 1, 2, 3, 4, 5)
*valid_score,_,_=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#82 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

In [30]:
#83 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [1]:
#84 temp 이름의 비어있는 딕셔너리를 만들라.
temp = {}
print(temp)

{}

In [5]:
#85 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
ice_price = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(ice_price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [6]:
#86 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
ice_price['죠스바']=1200
ice_price['월드콘']=1500
print(ice_price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [9]:
#87 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
print('메로나 가격:',ice_price['메로나'])

메로나 가격: 1000

In [10]:
#88 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
ice_price['메로나']=1300
print(ice_price)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [11]:
#89 다음 딕셔너리에서 메로나를 삭제하라.
del ice_price['메로나']
print(ice_price)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90 다음 코드에서 에러가 발생한 원인을 설명하라.
# icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

# 이유 : 딕셔너리에 없는 값을 불렀기 때문이다.

In [12]:
#91 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다
inventory = {'메로나':[300,20],
             '비비빅':[400,3],
             '죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [15]:
#92 inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
print(inventory['메로나'][0],'원')

300 원

In [16]:
#93 inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
print(inventory['메로나'][1],'개')

20 개

In [17]:
#94 inventory 딕셔너리에 아래 데이터를 추가하라.
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [20]:
#95 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = icecream.keys()
print(ice)

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [21]:
#96 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
price = icecream.values()
print(price)

dict_values([1200, 1200, 1800, 1500, 1000])

In [22]:
#97 icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
sum(price)

6700

In [23]:
#98 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
icecream['팥빙수']=2700
icecream['아맛나']=1000
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [24]:
#99 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [26]:
#100 date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [1]:
# 01파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
print(type(True),type(False))

<class 'bool'> <class 'bool'>

In [2]:
#102 아래 코드의 출력 결과를 예상하라  False
print(3 == 5)

False

In [3]:
#103 아래 코드의 출력 결과를 예상하라  True
print(3 < 5)

True

In [5]:
#104 아래 코드의 결과를 예상하라. True
x = 4
print(1 < x < 5)

True

In [7]:
#105 아래 코드의 결과를 예상하라. True
print ((3 == 3) and (4 != 3))

True

In [9]:
#106 아래 코드의 결과를 예상하라. 지원하지 않는 연산자여서
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (325100581.py, line 2)

In [13]:
#107 아래 코드의 결과를 예상하라. 조건이 만족되지 않기 때문에 아무것도 출력되지 않는다.
if 4 < 3:
    print("Hello World")

In [14]:
#108 아래 코드의 결과를 예상하라. Hi, there.
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [16]:
#109 아래 코드의 결과를 예상하라. 1,2,4 출력
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [17]:
#110 아래 코드의 결과를 예상하라. 3,5 출력
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [19]:
#111 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
user = input("입력:")
print(user*2)

입력:안녕하세요
안녕하세요안녕하세요

In [21]:
#112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
a = int(input("숫자를 입력하세요:"))
print(a+10)

숫자를 입력하세요:40
50

In [26]:
#113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.
b = int(input())
if b%2 == 0:
    print('짝수')
else:
    print('홀수')

33
홀수

In [29]:
#114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.
b = int(input())
if b+20 < 255:
    print(b+20)
else:
    print(255)

230
250

In [35]:
#115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.
c = int(input("입력값: "))
if 0 < c-20 < 255:
    print(c-20)
elif 0 > c-20:
    print(0)
else:
    print(255)

입력값: 55
35

In [43]:
#116 사용자로부터 입력 받은 시간이 정각인지 판별하라.
a = input('현재시간:')
if a[-2:] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

현재시간:5100
정각입니다.

In [52]:
#117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = ["사과", "포도", "홍시"]
user = input('가장 좋아하는 과일은?')
if user in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

가장 좋아하는 과일은?수박
오답입니다.

In [54]:
#118 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input()

if user in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다.")

에스트
투자 경고 종목이 아닙니다.

In [55]:
#119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()

if user in fruit:
    print("정답입니다")
else:
    print("오답입니다")

봄
정답입니다

In [69]:
#120 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()
if user in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

한라봉
오답입니다

In [71]:
#121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.
user = input()
if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [77]:
#122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
score = int(input())
if 81<= score <= 100:
    print("A")
elif 61<= score <= 80:
    print("B")
elif 41<= score <= 60:
    print("C")
elif 21<= score <= 40:
    print("D")
elif 0<= score <= 20:
    print("F")

43
C

In [86]:
#123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.
환율 = {"달러":1167,
           "엔" : 1.096,
           "유로" : 1268,
           "위안" : 171}
#print(환율)

user = input('입력:')
num, currency = user.split()
print(float(num)*환율[currency],"원")

입력:100 위안
17100.0 원

In [92]:
#124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.
num1 = int(input())
num2 = int(input())
num3 = int(input())
num = number1,number2,number3
if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

99
1
2
99

In [95]:
#125 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == '011':
    com = 'SKT'
elif num == '016':
    com = ' KT'
elif num == '019':
    com = 'LGU'
else:
    com = '알수없음'
print(f"당신은 {com} 사용자 입니다.")

휴대전화 번호 입력: 011-455-4155
당신은 SKT 사용자 입니다.

In [102]:
#126 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라
user = input("우편번호: ")
user = user[:3]
if user in ['010','011','012']:
    print('강북구')
elif user in ['013','014','015']:
    print('도봉구')
else:
    print('노원구')

우편번호: 01400
도봉구

In [107]:
#127 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

g = input('주민등록 번호: ')
g = g.split('-')[1]
if g[0] == '1' or g[0] == '3':
    print('남자')
else:
    print('여자')

주민등록 번호: 821010-1635210
남자

In [116]:
#128 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

g = input('주민등록 번호: ')
g = g.split('-')[1]
if 0 <= int(g[1:3]) <= 8:
    print('서울이 입니다.')
else:
    print('서울이 아닙니다.')

주민등록 번호: 861010-1015210
서울이 입니다.

In [ ]:
# 129

i = input('주민등록 번호: ')
i = int(input('주민등록 번호: '))

if i

In [117]:
#131 for문의 실행결과를 예측하라. 사과,귤,수박이 1번씩 출력된다.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [118]:
#132 for문의 실행결과를 예측하라. ####아 3번 반복된다.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [119]:
#133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [122]:
변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C

In [123]:
#134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [124]:
변수 = 'A'
print('출력:',변수)
변수 = 'B'
print('출력:',변수)
변수 = 'C'
print('출력:',변수)

출력: A
출력: B
출력: C

In [125]:
#135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [130]:
a = "A"
b = "B"
c = "C"

print('출력:',a.lower())
print('출력:',b.lower())
print('출력:',c.lower())

출력: a
출력: b
출력: c

In [133]:
#136 다음 코드를 for문으로 작성하라.
list = [10,20,30]
for i in list:
    print(i)

10
20
30

In [134]:
#137 다음 코드를 for문으로 작성하라.
for i in ['10','20','30']:
    print(i)

10
20
30

In [136]:
#138 다음 코드를 for문으로 작성하라.

for i in [10,20,30]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------

In [140]:
#139 다음 코드를 for문으로 작성하라.
print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [147]:
#140다음 코드를 for문으로 작성하라.
for i in (1,2,3,4):
    print('-------')

-------
-------
-------
-------

In [155]:
#141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [164]:
#142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: ",i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [165]:
#143 리스트에 주식 종목이름이 저장돼 있다.
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [166]:
#144 동물 이름과 글자수를 다음과 같이 출력하라.
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [175]:
#145 for문을 사용해서 동물 이름의 첫 글자만 출력하라.
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [186]:
#146 리스트에는 세 개의 숫자가 바인딩돼 있다.
j = 3
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 X",i)

3 X 1
3 X 2
3 X 3

In [195]:
#147 for문을 사용해서 다음과 같이 출력하라.
리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 X {i} = {3*i}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [200]:
#148 for문을 사용해서 다음과 같이 출력하라.
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]
for i in 리스트:
    print(i)

나
다
라

In [5]:
#149 for문을 사용해서 다음과 같이 출력하라.
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [6]:
#150 for문을 사용해서 다음과 같이 출력하라.
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [7]:
#151 for문을 사용해서 리스트의 음수를 출력하라.
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [9]:
#152 사용해서 3의 배수만을 출력하라.
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [1]:
#153 리스트에서 20 보다 작은 3의 배수를 출력하라
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i%3 == 0 and i < 20:
        print(i)

12
18

In [2]:
#154 리스트에서 세 글자 이상의 문자를 화면에 출력하라
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [3]:
#155 리스트에서 대문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [4]:
#156 리스트에서 소문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == False:
        print(i)

b
c

In [15]:
#157 이름의 첫 글자를 대문자로 변경해서 출력하라.
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    i = i[0]
    if i.upper():
    print(i+i[1:])

IndentationError: expected an indented block (2111688303.py, line 6)

In [6]:
#158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    split = i.split('.')
    print(split[0])

hello
ex01
intro

In [27]:
#159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [29]:
#160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".") 
  if split[1] == "h" or split[1] == "c":
    print(변수)

intra.h
intra.c
define.h

In [30]:
#161 for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
#162 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [34]:
#163 1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(1,30):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27

In [36]:
#164 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(1,100):
    print(99-i)

98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [38]:
#165 for문을 사용해서 아래와 같이 출력하라.
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [42]:
#166 구구단 3단을 출력하라.
for i in range(1,10):
    print(f'{3} X {i} = {3*i}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [43]:
#167 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
for i in range(1,10):
    if i%2 == 1:
        print(f'{3} X {i} = {3*i}')

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [50]:
#168 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hap = 0
for i in range(1,11):
    hap += i
print(hap)

55

In [54]:
#169 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hap = 0
for i in range(1,11):
    if i%2 == 1:
        hap += i
print(hap)

25

In [56]:
#170 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hap = 1
for i in range(1,11):
        hap *= i
print(hap)

3628800

In [1]:
#171 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [3]:
#172 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
for i,data in enumerate(price_list):
    print(i,data)

0 32100
1 32150
2 32000
3 32500

In [7]:
#173 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
for i,data in enumerate(price_list):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [1]:
#174 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [4]:
#175 my_list를 아래와 같이 출력하라.
my_list = ["가", "나", "다", "라"]
for i in [0,1,2]:
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [1]:
#176 리스트를 아래와 같이 출력하라.
my_list = ["가", "나", "다", "라", "마"]
for i in [0,1,2]:
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [30]:
#177 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [42]:
#178 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print((my_list[i+1])-(my_list[i]))

100
200
400

In [45]:
#179 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [49]:
#180 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [51]:
#181 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
apart = [['101호','102호'],['201호','202호'],['301호','302호']]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [53]:
#182 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [56]:
#183 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.
stock = {'시가':[100,200,300],'종가':[80,210,330]}

In [58]:
#184 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}

In [62]:
#185 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [64]:
#186 리스트에 저장된 데이터를 아래와 같이 출력하라.
for i in apart[::-1]:
    for j in i:
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [65]:
#187 리스트에 저장된 데이터를 아래와 같이 출력하라.
for i in apart[::-1]:
    for j in i[::-1]:
        print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [66]:
#188 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
        print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [69]:
#189 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [70]:
#190 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [4]:
#191 data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
#수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [5]:
#192 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.
for i in data:
    for j in i:
        print(j*1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [2]:
#193 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
result = []
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

NameError: name 'data' is not defined

In [3]:
#194 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.
result = []
for i in data:
    sub = []
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

NameError: name 'data' is not defined

In [4]:
#195 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [5]:
#196 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [6]:
#197 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [7]:
#198 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
volatility

[40, 30, 10]

In [8]:
#199 
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [10]:
#200 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
hap = 0
for i in ohlc[1:]:
    hap += (i[3] -i[0])
hap

0

In [13]:
#201 '비트코인'문자열로 화면에 출렷하는  print_coin() 함수를 정의하라.
def print_coin():
    print('비트코인')

In [14]:
#202 201번에서 정의한 함수를 호출하라
print_coin()

비트코인

In [20]:
#203 201번에서 정의한 print_coi 함수를 100번 호출하라.
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [1]:
#204 '비트코인' 문자열을 100번 화면에 출력하는 print_coins 함수를 정의하라.
def print_coin(): 
    for i in range(100):
        print('비트코인')
print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [2]:
#205 아래의 에러가 발생하느느 이유에 대해 설명하라
# 함수가 정의되기 저넹 호출되어서 에러가 발생한다.
hello()
def hellp():
    print('hi')

NameError: name 'hello' is not defined

In [4]:
#206 아래 코드의 실행 결과를 예측하라
# A B C A B
def message():
    print('A')
    print('B')
    
message()
print('C')
message()

A
B
C
A
B

In [5]:
#207 아래 코드의 실행 결과를 예측하라
# A C B
print('A')

def message():
    print('B')
    
print('C')
message()

A
C
B

In [1]:
#208 아래 코드의 실행 결과를 예측하라
# A C B E D

In [2]:
#209 아래 코드의 실행 결과를 예측하라
# B A

In [3]:
#210 아래 코드의 실행 결과를 예측하라
# B C B C B C A

In [4]:
#211 함수의 호출 결과를 예측하라.
# 안녕 Hi

In [6]:
#212 함수의 호출 결과를 예측하라.
# 7 ,15

In [7]:
#213 함수의 호출 결과를 예측하라.
# 함수에 정의와 다르게 함수를 홒출하고 있다.함수를 호출할 때 하나의 파라미터를 입력해야한다.

In [8]:
#214 아래와 같은 에러가 발생하는 원인을 설명하라.
# 숫자와 문자를 더할려고 하기 때문에 오류가 난다.

In [13]:
#215 
def print_with_smlie (string):
    print(string + ':D')

In [14]:
#216 215에서 정의한 함수를 호출하라. 파라미터는 '안녕하세요'로 입력하라.
print_with_smlie('안녕하세요')

안녕하세요:D

In [16]:
#217
def print_upper_price(price):
    print(price*1.3)
print_upper_price(30)

39.0

In [17]:
#218
def print_sum(a,b):
    print(a+b)
print_sum(3,4)

7

In [19]:
#219
def print_arithmetic_operation(a,b):
    print(a, '+', b ,'=', a+b)
    print(a ,'-', b ,'=', a-b)
    print(a ,'*', b ,'=', a*b)
    print(a ,'/', b ,'=', a/b)
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [20]:
#220
def print_max(a,b,c):
    if a > b and  a > c:
        print(a)
    elif b > a and  b > c:
        print(b)
    elif c > a and  c > b:
        print(c)

In [24]:
print_max(2,3,9)

9

In [29]:
#221
def print_reverse(string):
    print(string[::-1])
print_reverse('python')

nohtyp

In [35]:
#222
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([1,2,3])

2.0

In [37]:
#223
def print_even(a_list):
    for i in a_list:
        if i%2 == 0:
            print(i)
print_even([1,3,2,10,12,11,15])

2
10
12

In [45]:
#224
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [47]:
#225
my_dict = {'10/26' : [100,130,100,100],
           '10/27' : [10,12,10,11]}

def print_value_by_key(my_dict,key):
    print(my_dict[key])
    
print_value_by_key(my_dict,'10/26')

[100, 130, 100, 100]

In [49]:
#226
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [54]:
#227
def printmxn(line,num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])
printmxn('아이엠어보이유알어걸',3)

아이엠
어보이
유알어
걸

In [55]:
#228
def calc_monthly_salary(money):
    month_salary = int(money/12)
    return month_salary
calc_monthly_salary(12000000)

1000000

In [56]:
#229 아래 코드의 실행 결과를 예측해라
# '왼쪽' 100 , '오른쪽' 200

In [57]:
#230 아래 코드의 실행 결과를 예측해라
# '왼쪽' 200 , '오른쪽' 100

In [58]:
#231 아래 코드의 실행 결과를 예측해라
# '에러가 발생한다.
# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능하기 때문이다.

In [64]:
#232
def make_url(string):
    url = 'www.'+string+'.com'
    return(url)
make_url('naver')

'www.naver.com'

In [5]:
#233
def make_list(string):
    my_list = []
    for i in string:
        my_list.append(i)
    return my_list

In [6]:
make_list('abcd')

['a', 'b', 'c', 'd']

In [17]:
#234
def pickup_even(my_list):
    result = []
    for i in my_list:
        if i%2 == 0:
            result.append(i)
    return result
pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [19]:
#235
def covert_int(string):
    return int(string.replace(',',''))
covert_int('1,234,567')

1234567

In [20]:
#236 아래 코드의 실행 결과를 예측하라.
# a -> 14 , b -> 18 , c -> 22  22가 출력된다.

In [21]:
#237 아래 코드의 실행 결과를 예측하라.
# 236이랑 같은 결과가 출력된다.

In [22]:
#238 아래 코드의 실행 결과를 예측하라.
# 140이 나온다

In [23]:
#239 아래 코드의 실행 결과를 예측하라.
# 16이 바인딩 되어서 나온다.

In [24]:
#240
# 28일 바이딩 된다.

In [27]:
#241
import datetime

now = datetime.datetime.now()

print(now)

2025-10-07 12:19:28.410605

In [28]:
#242
print(type(now))

<class 'datetime.datetime'>

In [29]:
#243
now = datetime.datetime.now()
for day in range(5,0,-1):
    delta = datetime.timedelta(days = day)
    date = now - delta
    print(date)

2025-10-02 12:22:32.223159
2025-10-03 12:22:32.223159
2025-10-04 12:22:32.223159
2025-10-05 12:22:32.223159
2025-10-06 12:22:32.223159

In [30]:
#244
now = datetime.datetime.now()
print(now.strftime('%H:%M:%S'))

12:28:11

In [33]:
#245
day = '2020-05-04'
ret = datetime.datetime.strptime(day,'%Y-%m-%d')
print(ret,type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [36]:
#246
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2025-10-07 12:33:44.560517
2025-10-07 12:33:45.566690
2025-10-07 12:33:46.571726
2025-10-07 12:33:47.580867
2025-10-07 12:33:48.582151

KeyboardInterrupt:

In [37]:
#247

In [39]:
#248
import os
ret = os.getcwd()
print(ret,type(ret))

c:\fintech3\04Python <class 'str'>

In [40]:
#249

In [42]:
#250
import numpy
for i in numpy.arange(0,5,0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [43]:
#251 클래스와 객체에 대해 설명해봅시다.
# 클래스는 일종의 설계도로, 하나의 타입을 정의하는 방법입니다. 
#클래스에는 관련있는 데이터와  한 데 모아 정의할 수 있습니다.
#클래스로 만들어진 결과물을 객체라고 합니다.

In [44]:
#252
class Human:
    pass

In [1]:
#253
class Human:
    pass

areum = Human

In [2]:
#254
class Human:
    def __init__(self):
        print('응애응애')

areum = Human()

응애응애

In [3]:
#255
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human('아름',25,'여자')
print(areum.name)

아름

In [4]:
#256
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human('아름',25,'여자')
areum.age

25

In [5]:
#257
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{},나이:{},성별:{}".format(self.name,self.age,self.sex))
        
areum = Human('아름',25,'여자')
areum.who()

이름:아름,나이:25,성별:여자

In [9]:
#258
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{},나이:{},성별:{}".format(self.name,self.age,self.sex))
        
    def selfInfo(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human('아름',25,'여자')
areum.who() 
areum.selfInfo('아름',25,'여자')
areum.who()

이름:아름,나이:25,성별:여자
이름:아름,나이:25,성별:여자

In [7]:
#259
class Human:
    def __del__(self):
        print('나의 죽음을 알리지 말라')
        
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{},나이:{},성별:{}".format(self.name,self.age,self.sex))
        
areum = Human('아름',25,'여자')
del(areum)

나의 죽음을 알리지 말라

In [10]:
#260
# print문에 받을 수있는 인자를 0개로 설정했는데 1개의 인자가 들어와서 오류가 났다

In [11]:
#261
class stock:
    pass

In [20]:
#262
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자","005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [22]:
#263
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name

a = Stock(None,None)
a.set_name('삼성전자')
print(a.name)

삼성전자

In [23]:
#264
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name
        
    def set_code(self,code):
        self.code = code
    

a = Stock(None,None)
a.set_code('005930')
print(a.code)

005930

In [25]:
#265
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name
        
    def set_code(self,code):
        self.code = code
        
    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code

삼성 = Stock("삼성전자","005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [26]:
#266
class Stock:
    def __init__(self,name,code,per,pbr,배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
        
    def set_name(self,name):
        self.name = name
        
    def set_code(self,code):
        self.code = code
        
    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code

In [28]:
#267
삼성=Stock('삼성전자','005930',15.79,1.33,2.83)
print(삼성.배당수익률)

2.83

In [29]:
#268
class Stock:
    def __init__(self,name,code,per,pbr,배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
        
    def set_name(self,name):
        self.name = name
        
    def set_code(self,code):
        self.code = code
        
    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code
    
    def set_per(self,per):
        self.per = per
        
    def set_pbr(self,pbr):
        self.pbr = pbr
        
    def set_dividend(self,dividend):
        self.dividend = dividend

In [31]:
#269
삼성=Stock('삼성전자','005930',15.79,1.33,2.83)
삼성.set_per(12.75)
삼성.per

12.75

In [32]:
#270
종목 = []
삼성=Stock('삼성전자','005930',15.79,1.33,2.83)
LG전자=Stock('LG전자','005380',8.70,0.35,4.27)
현대차=Stock('현대차','066570',317.34,0.69,1.37)

종목.append(삼성)
종목.append(LG전자)
종목.append(현대차)

for i in 종목:
    print(i.code,i.per)

005930 15.79
005380 8.7
066570 317.34

In [1]:
#271
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
786-23-111214

In [2]:
#272
import random
class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank='SC은행'
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
        
kim = Account('김민수',100)
print(Account.account_count)
lee = Account('이민수',100)
print(Account.account_count)

1
2

In [3]:
#273
import random
class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank='SC은행'
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
       
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

kim = Account('김민수',100)
lee = Account('이민수',100)
kim.get_account_num()

2

In [9]:
#274
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

In [10]:
#275
import random
class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank='SC은행'
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
       
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)
        
    def deposit(self,amount):
        if amount >= 1:
            self.balance += amount
            
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [12]:
#276
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", f"{self.balance:,}")


p = Account("파이썬", 10000)
p.display_info()

AttributeError: 'Account' object has no attribute 'deposit_count'

In [13]:
#277
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [17]:
#278
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x00000210CD83B2B0>, <__main__.Account object at 0x00000210CD83B640>, <__main__.Account object at 0x00000210CC62BA00>]

In [18]:
#279
#278
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  497-16-424921
잔고:  10000000

In [19]:
#280
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [24]:
#281
class 차:
    def __init__(self,바퀴,가격): 
        self.바퀴 = 바퀴
        self.가격 = 가격

car = 차(2,1000)
print(car.바퀴)
print(car.가격)

2
1000

In [26]:
#282
class 자전차(차):
    pass

100

In [27]:
#283
class 자전차(차):
    def __init__(self,바퀴,가격): 
        self.바퀴 = 바퀴
        self.가격 = 가격
        
bicycle = 자전차(2, 100)
bicycle.가격

100

In [33]:
#284
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        #차.__init__(self, 바퀴, 가격)
        self.구동계 = 구동계


bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

In [32]:
#285
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [34]:
#286
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [37]:
#287
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)
        
        
class 자전차(차):
    def __init__(self, 바퀴, 가격,구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    def 정보(self):
        super().정보()
        print("구동계 ", self.구동계)
        
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [40]:
#288
# 자식호출
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")
        
나 = 자식()
나.호출()

자식호출

In [42]:
#289
# 자식생성
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        
나 = 자식()

자식생성

In [44]:
#290
# 둘다 나온다
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

In [57]:
#291
f = open('C:/fintech3/04Python/data/매수종목1.txt',mode = 'wt',encoding='utf-8')
f.write('005930\n')
f.write('005380\n')
f.write('035420\n')
f.close()

In [58]:
#292
f = open('C:/fintech3/04Python/data/매수종목2.txt',mode = 'wt',encoding='utf-8')
f.write('005930 삼성전자\n')
f.write('005380 현대차\n')
f.write('035420 NAVER\n')
f.close()

In [59]:
#293
import csv
f = open('C:/fintech3/04Python/data/매수종목.csv',mode = 'wt',encoding='cp949',newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [61]:
#294
f = open('C:/fintech3/04Python/data/매수종목1.txt',encoding='utf-8')
lines = f.readlines()

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)
print(codes)

f.close()

['005930', '005380', '035420']

In [64]:
#295
f = open('C:/fintech3/04Python/data/매수종목2.txt',encoding='utf-8')
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     
    k, v = line.split()
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [65]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [66]:
#297
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [68]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [69]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [70]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료