In [1]:
#1 화면에 Hello World 문자열을 출력하세요.
print('Hello Woerd')

Hello Woerd

In [3]:
#2 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cometics")

Mary's cometics

In [5]:
#3 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리지렀다."도둑이야".')

신씨가 소리지렀다."도둑이야".

In [9]:
#4 화면에 C:\Windows를 출력하세요.
print('C:\Windows')

C:\Windows

### 5 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요

### \n은 줄바꿈을 의미하고 \t는 tap을 의미한다.

In [8]:
#6 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print('"오늘은", "일요일"')

"오늘은", "일요일"

In [7]:
#7 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep=";")

naver;kakao;sk;samsung

In [1]:
#8 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep="/")

naver/kakao/sk/samsung

In [6]:
#9 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first",end=" ");print("secend")

first secend

In [8]:
#10 5/3의 결과를 화면에 출력하세요.
5/3

1.6666666666666667

In [9]:
#11 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000

In [13]:
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [19]:
#12 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 2980000000000000
현재가 = 500000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER,type(PER))

2980000000000000 <class 'int'>
500000 <class 'int'>
15.79 <class 'float'>

In [20]:
# 13 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = 'hello'
t = 'python'

In [22]:
print(s+"! "+t)

hello! python

In [23]:
#14 아래 코드의 실행 결과를 예상해보세요.
print(2+2*3)

8

In [24]:
#15 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = "132"
print(type(a))

<class 'str'>

In [26]:
#16 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [27]:
print(int(num_str),type(int(num_str)))

720 <class 'int'>

In [28]:
#17 정수 100을 문자열 '100'으로 변환해보세요.
print(str(100),type(str(100)))

100 <class 'str'>

In [30]:
#18 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
print(int(15.79),type(int(15.79)))

15 <class 'int'>

In [31]:
#19 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
print(int(year),type(int(year)))

2020 <class 'int'>

In [36]:
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [38]:
# 20 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
wol = 48584
print(wol*36)

1749024

In [43]:
#21 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0],letters[2])

p t

In [44]:
#22 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate='24가 2210'
print(license_plate[4:])

2210

In [47]:
#23 아래의 문자열에서 '홀' 만 출력하세요.
string='홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [51]:
#24 문자열을 거꾸로 뒤집어 출력하세요.
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [61]:
#25 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [65]:
#26 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [67]:
#27 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[17:])

kr

In [70]:
#28 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: 'str' object does not support item assignment

In [71]:
#29 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [72]:
#30 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b','B')
print(string)
# 문자열은 변경할 수 없는 자료형이기 떄문에 그대로 출력된다.

abcd

In [74]:
#31 아레코드를  예상해보세요
a = "3"
b = "4"
print(a + b)
# 문자열 을 더한 값인 34가 출력된다.

34

In [75]:
#32 아레코드를  예상해보세요
print("Hi" * 3)

#HiHIii

HiHiHi

In [78]:
#33 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [92]:
#34 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
t3 = t1 + ' '+ t2 + ' '
print(t3*4)

python java python java python java python java

In [95]:
#35 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s,나이: %d' % (name1,age1))
print('이름: %s,나이: %d' % (name2,age2))

이름: 김민수,나이: 10
이름: 이철희,나이: 13

In [96]:
#36 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
#37 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [105]:
#38 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
상장주식수.replace(',','')
print(int(상장주식수.replace(',','')))

5969782550

In [98]:
#39 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [102]:
#40 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [106]:
#41 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [1]:
#42 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [4]:
#43 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [3]:
# 44 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [7]:
# 45 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name.endswith(('xlsx','xls'))

True

In [9]:
# 46 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [10]:
#47 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
a.split(" ")

['hello', 'world']

In [12]:
# 48 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [13]:
# 49 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [14]:
# 50 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
data.rstrip()

'039490'

In [1]:
# 51 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)


movie_rank =["닥터스트레인지","스플릿","럭키"]

In [2]:
#52 
movie_rank.append("베트맨")

In [3]:
#53 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
print(movie_rank)
movie_rank.insert(1,"슈퍼맨")

['닥터스트레인지', '스플릿', '럭키', '베트맨']

In [4]:
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [5]:
#54 movie_rank 리스트에서 '럭키'를 삭제하라.movi
movie_rank.remove('럭키')
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '베트맨']

In [6]:
#55 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank.remove('스플릿')
movie_rank.remove('베트맨')
print(movie_rank)

['닥터스트레인지', '슈퍼맨']

In [8]:
#56 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [9]:
#57 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums),min(nums))

7 1

In [11]:
#58 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [12]:
#59 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [14]:
# 60 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

3.0

In [15]:
#61 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [16]:
#62 슬라이싱을 사용해서 홀수만 출력하라
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [22]:
#63 슬라이싱을 사용해서 짝수만 출력하라.
nums[1::2]

[2, 4, 6, 8, 10]

In [24]:
#64 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [26]:
#65 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']
interest[::2]

['삼성전자', 'Naver']

In [29]:
# 66 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [30]:
#67 interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [34]:
#68 join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
'\n,'.join(interest)

'삼성전자\n,LG전자\n,Naver\n,SK하이닉스\n,미래에셋대우'

In [37]:
#69  회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [39]:
#70 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [40]:
#71 my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()

In [41]:
#72 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
my_variable = list(my_variable)
my_variable.append("닥터 스트레인지")
my_variable.append("스플릿")
my_variable.append("럭키")
my_variable = tuple(my_variable)

In [42]:
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [47]:
# 73 숫자 1 이 저장된 튜플을 생성하라.
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>

# 74 다음 코드를 실행해보고 오류가 발생하는 원인을 설명해라.
* t = (1, 2, 3)
* t[0] = 'a'
* Traceback (most recent call last):
* File "<pyshell#46>", line 1, in <module>
* t[0] = 'a'
* TypeError: 'tuple' object does not support item assignment
 
# 원인: 튜플에 원소는 변경할 수 없기 떄문에

In [2]:
# 75 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t = 1, 2, 3, 4
print(type(t))
# 튜플

<class 'tuple'>

In [5]:
# 76 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')
t = ('A', 'B', 'C')
print(t)

('A', 'B', 'C')

In [17]:
# 77 다음 튜플을 리스트로 변환해라
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(type(interest))

<class 'list'>

In [ ]:
#78 다음 리스트를 튜플로 변경하라.
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(data))

In [12]:
#79 다음 코드의 실해 결과를 예상하라.
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [26]:
#80 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [28]:
#81 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
a, b, *c = (0, 1, 2, 3, 4, 5)
*valid_score,_,_=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#82 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

In [30]:
#83 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [1]:
#84 temp 이름의 비어있는 딕셔너리를 만들라.
temp = {}
print(temp)

{}

In [5]:
#85 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
ice_price = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(ice_price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [6]:
#86 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
ice_price['죠스바']=1200
ice_price['월드콘']=1500
print(ice_price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [9]:
#87 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
print('메로나 가격:',ice_price['메로나'])

메로나 가격: 1000

In [10]:
#88 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
ice_price['메로나']=1300
print(ice_price)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [11]:
#89 다음 딕셔너리에서 메로나를 삭제하라.
del ice_price['메로나']
print(ice_price)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90 다음 코드에서 에러가 발생한 원인을 설명하라.
# icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

# 이유 : 딕셔너리에 없는 값을 불렀기 때문이다.

In [12]:
#91 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다
inventory = {'메로나':[300,20],
             '비비빅':[400,3],
             '죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [15]:
#92 inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
print(inventory['메로나'][0],'원')

300 원

In [16]:
#93 inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
print(inventory['메로나'][1],'개')

20 개

In [17]:
#94 inventory 딕셔너리에 아래 데이터를 추가하라.
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [20]:
#95 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = icecream.keys()
print(ice)

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [21]:
#96 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
price = icecream.values()
print(price)

dict_values([1200, 1200, 1800, 1500, 1000])

In [22]:
#97 icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
sum(price)

6700

In [23]:
#98 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
icecream['팥빙수']=2700
icecream['아맛나']=1000
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [24]:
#99 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [26]:
#100 date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [1]:
# 01파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
print(type(True),type(False))

<class 'bool'> <class 'bool'>

In [2]:
#102 아래 코드의 출력 결과를 예상하라  False
print(3 == 5)

False

In [3]:
#103 아래 코드의 출력 결과를 예상하라  True
print(3 < 5)

True

In [5]:
#104 아래 코드의 결과를 예상하라. True
x = 4
print(1 < x < 5)

True

In [7]:
#105 아래 코드의 결과를 예상하라. True
print ((3 == 3) and (4 != 3))

True

In [9]:
#106 아래 코드의 결과를 예상하라. 지원하지 않는 연산자여서
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (325100581.py, line 2)

In [13]:
#107 아래 코드의 결과를 예상하라. 조건이 만족되지 않기 때문에 아무것도 출력되지 않는다.
if 4 < 3:
    print("Hello World")

In [14]:
#108 아래 코드의 결과를 예상하라. Hi, there.
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [16]:
#109 아래 코드의 결과를 예상하라. 1,2,4 출력
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [17]:
#110 아래 코드의 결과를 예상하라. 3,5 출력
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [19]:
#111 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
user = input("입력:")
print(user*2)

입력:안녕하세요
안녕하세요안녕하세요

In [21]:
#112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
a = int(input("숫자를 입력하세요:"))
print(a+10)

숫자를 입력하세요:40
50

In [26]:
#113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.
b = int(input())
if b%2 == 0:
    print('짝수')
else:
    print('홀수')

33
홀수

In [29]:
#114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.
b = int(input())
if b+20 < 255:
    print(b+20)
else:
    print(255)

230
250

In [35]:
#115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.
c = int(input("입력값: "))
if 0 < c-20 < 255:
    print(c-20)
elif 0 > c-20:
    print(0)
else:
    print(255)

입력값: 55
35

In [43]:
#116 사용자로부터 입력 받은 시간이 정각인지 판별하라.
a = input('현재시간:')
if a[-2:] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

현재시간:5100
정각입니다.

In [52]:
#117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = ["사과", "포도", "홍시"]
user = input('가장 좋아하는 과일은?')
if user in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

가장 좋아하는 과일은?수박
오답입니다.

In [54]:
#118 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input()

if user in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다.")

에스트
투자 경고 종목이 아닙니다.

In [55]:
#119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()

if user in fruit:
    print("정답입니다")
else:
    print("오답입니다")

봄
정답입니다

In [69]:
#120 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()
if user in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

한라봉
오답입니다

In [71]:
#121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.
user = input()
if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [77]:
#122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
score = int(input())
if 81<= score <= 100:
    print("A")
elif 61<= score <= 80:
    print("B")
elif 41<= score <= 60:
    print("C")
elif 21<= score <= 40:
    print("D")
elif 0<= score <= 20:
    print("F")

43
C

In [86]:
#123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.
환율 = {"달러":1167,
           "엔" : 1.096,
           "유로" : 1268,
           "위안" : 171}
#print(환율)

user = input('입력:')
num, currency = user.split()
print(float(num)*환율[currency],"원")

입력:100 위안
17100.0 원

In [92]:
#124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.
num1 = int(input())
num2 = int(input())
num3 = int(input())
num = number1,number2,number3
if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

99
1
2
99

In [95]:
#125 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == '011':
    com = 'SKT'
elif num == '016':
    com = ' KT'
elif num == '019':
    com = 'LGU'
else:
    com = '알수없음'
print(f"당신은 {com} 사용자 입니다.")

휴대전화 번호 입력: 011-455-4155
당신은 SKT 사용자 입니다.

In [102]:
#126 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라
user = input("우편번호: ")
user = user[:3]
if user in ['010','011','012']:
    print('강북구')
elif user in ['013','014','015']:
    print('도봉구')
else:
    print('노원구')

우편번호: 01400
도봉구

In [107]:
#127 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

g = input('주민등록 번호: ')
g = g.split('-')[1]
if g[0] == '1' or g[0] == '3':
    print('남자')
else:
    print('여자')

주민등록 번호: 821010-1635210
남자

In [116]:
#128 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

g = input('주민등록 번호: ')
g = g.split('-')[1]
if 0 <= int(g[1:3]) <= 8:
    print('서울이 입니다.')
else:
    print('서울이 아닙니다.')

주민등록 번호: 861010-1015210
서울이 입니다.

In [ ]:
# 129

i = input('주민등록 번호: ')
i = int(input('주민등록 번호: '))

if i

In [117]:
#131 for문의 실행결과를 예측하라. 사과,귤,수박이 1번씩 출력된다.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [118]:
#132 for문의 실행결과를 예측하라. ####아 3번 반복된다.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [119]:
#133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [122]:
변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C

In [123]:
#134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [124]:
변수 = 'A'
print('출력:',변수)
변수 = 'B'
print('출력:',변수)
변수 = 'C'
print('출력:',변수)

출력: A
출력: B
출력: C

In [125]:
#135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [130]:
a = "A"
b = "B"
c = "C"

print('출력:',a.lower())
print('출력:',b.lower())
print('출력:',c.lower())

출력: a
출력: b
출력: c

In [133]:
#136 다음 코드를 for문으로 작성하라.
list = [10,20,30]
for i in list:
    print(i)

10
20
30

In [134]:
#137 다음 코드를 for문으로 작성하라.
for i in ['10','20','30']:
    print(i)

10
20
30

In [136]:
#138 다음 코드를 for문으로 작성하라.

for i in [10,20,30]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------

In [140]:
#139 다음 코드를 for문으로 작성하라.
print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [147]:
#140다음 코드를 for문으로 작성하라.
for i in (1,2,3,4):
    print('-------')

-------
-------
-------
-------

In [155]:
#141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [164]:
#142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: ",i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [165]:
#143 리스트에 주식 종목이름이 저장돼 있다.
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [166]:
#144 동물 이름과 글자수를 다음과 같이 출력하라.
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [175]:
#145 for문을 사용해서 동물 이름의 첫 글자만 출력하라.
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [186]:
#146 리스트에는 세 개의 숫자가 바인딩돼 있다.
j = 3
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 X",i)

3 X 1
3 X 2
3 X 3

In [195]:
#147 for문을 사용해서 다음과 같이 출력하라.
리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 X {i} = {3*i}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [200]:
#148 for문을 사용해서 다음과 같이 출력하라.
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]
for i in 리스트:
    print(i)

나
다
라

In [5]:
#149 for문을 사용해서 다음과 같이 출력하라.
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [6]:
#150 for문을 사용해서 다음과 같이 출력하라.
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [7]:
#151 for문을 사용해서 리스트의 음수를 출력하라.
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [9]:
#152 사용해서 3의 배수만을 출력하라.
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [1]:
#153 리스트에서 20 보다 작은 3의 배수를 출력하라
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i%3 == 0 and i < 20:
        print(i)

12
18

In [2]:
#154 리스트에서 세 글자 이상의 문자를 화면에 출력하라
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [3]:
#155 리스트에서 대문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [4]:
#156 리스트에서 소문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == False:
        print(i)

b
c

In [15]:
#157 이름의 첫 글자를 대문자로 변경해서 출력하라.
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    i = i[0]
    if i.upper():
    print(i+i[1:])

IndentationError: expected an indented block (2111688303.py, line 6)

In [6]:
#158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    split = i.split('.')
    print(split[0])

hello
ex01
intro

In [27]:
#159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [29]:
#160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".") 
  if split[1] == "h" or split[1] == "c":
    print(변수)

intra.h
intra.c
define.h

In [30]:
#161 for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
#162 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [34]:
#163 1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(1,30):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27

In [36]:
#164 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(1,100):
    print(99-i)

98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [38]:
#165 for문을 사용해서 아래와 같이 출력하라.
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [42]:
#166 구구단 3단을 출력하라.
for i in range(1,10):
    print(f'{3} X {i} = {3*i}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [43]:
#167 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
for i in range(1,10):
    if i%2 == 1:
        print(f'{3} X {i} = {3*i}')

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [50]:
#168 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hap = 0
for i in range(1,11):
    hap += i
print(hap)

55

In [54]:
#169 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hap = 0
for i in range(1,11):
    if i%2 == 1:
        hap += i
print(hap)

25

In [56]:
#170 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hap = 1
for i in range(1,11):
        hap *= i
print(hap)

3628800

In [1]:
#171 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
#172 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.