# 변수

* 자료를 담는 택배상자
* 택배상자에는 자료를 1개만 넣을 수 있다.
* 변수는 영문과 숫자를 조합해서 만들 수 있다.
* 변수명의 시작은 반드시 영문자로 시작 or \_영문자로 시작
* 변수명이 숫자로 시작하거나 -같은 특수문자로 시작하면 오류
* **예약어(이미 파이썬에서 사용하고 있는 함수명, 문법용 단어 ex) for, list, if,id)**는 변수명으로 사용할 수 없다.
    * **주의!!** 파이썬은 예약어를 써도 변수가 만들어진다.
    * 예약어로 변수를 만들지 않도록 주의!!
* 변수명은 스네이크 표기법으로 작성한다. ex) user_name

In [3]:
a = 1 #a=1은 같다라는 의미가 아니라 오른쪽에 있는 것을 왼쪽에 넣는다.

In [4]:
print(a)

NameError: name 'a' is not defined

In [5]:
a # 주피터 노트북만 변수명만 쳐도 데이터가 출력된다.

NameError: name 'a' is not defined

In [6]:
b = 2

In [7]:
print(b)

2

In [8]:
id(a)

NameError: name 'a' is not defined

In [9]:
id(b)

2554257893712

In [10]:
#id = 10

In [11]:
#print(id)

In [12]:
id(b)

2554257893712

In [13]:
# 변수명 작성하기
daksdnjsklndl4555 = 10

In [14]:
print(daksdnjsklndl4555)

10

In [15]:
10a = 10

SyntaxError: invalid syntax (1883882313.py, line 1)

In [16]:
$a = 1

SyntaxError: invalid syntax (875084040.py, line 1)

In [17]:
-a = 1

SyntaxError: cannot assign to operator (3337602241.py, line 1)

In [18]:
_a = 1

In [19]:
# 변수명을 2단어 이상으로 만들 떄는 _로 연결하는 스네이크 표기법을 쓴다.
user_name = "홍길동"
user_name

'홍길동'

In [20]:
# 변수명은 변수명만으로 안에 무엇이 있을지 예측 가능해야 한다.
all_reviews = "모든 리뷰"

In [21]:
review_one = "리뷰 한개"

In [22]:
hap = 0

In [23]:
# 변수 지우기 del
print(hap)

0

In [24]:
del hap

In [25]:
print(hap)

NameError: name 'hap' is not defined

여러 개의 변수 동시에 만들고 자료 입력하기

In [26]:
a = 1 
b = 2

In [27]:
a, b, c = 1,2,3

In [28]:
print(a,b,c)

1 2 3

In [29]:
a,b,c = [5 ,6 ,7]

In [30]:
print(a,b,c)

5 6 7

In [31]:
a,b,c = (8,9,10)

In [32]:
print(a,b,c,)

8 9 10

# 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float : 실수(소숫점이 있는 숫자)
* str : 문자/문자열 
* list : 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음 [자료]
* tuple : list비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣어 만들 수 있음 (자료)
* dictionary(dict) : key:value 싸으로 이루어진 자료형, 모든 자료형을 넣어 만들 수 있음 {key:value}
* set : 집합 자료형,자료의 중복이 되지 않음 {자료}

# 데이터 타입을 출력하는 함수 type(변수)

# 1. 정수형 변수(int)

In [33]:
a = 1
print(a)
print(type(a))

1
<class 'int'>

# 2. 실수형 변수(float)

In [34]:
b = 3.14
print(b)
print(type(b))

3.14
<class 'float'>

# 3. 문자형 변수(str)
* 문자형 데이터는 반드시 따옴표 \' , \" 안에 작성해야한다.
* 문자 : 문자 1개
* 문자열 : 문자가 여러개 있는 것, **열** 즉, **순서**가 있다.

In [35]:
c = "문"
print(c)

문

In [36]:
c = '문'
print(c)

문

In [37]:
c = '문자열'
print(c)

문자열

# 문자열 인덱싱: 문자열은 순서가 있으므로 변수명[번호] 형태로 해당 위치의 문자를 출력/추출 가능

In [38]:
c

'문자열'

In [39]:
c[1]

'자'

In [40]:
c[0]

'문'

In [41]:
c[2]

'열'

In [42]:
long_char = "문자열은 아무리 길이가 길어도 한 줄로 입력해야한다. 만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다."

In [43]:
print(long_char)

문자열은 아무리 길이가 길어도 한 줄로 입력해야한다. 만약 줄바꿈을 하고 싶다면 \를 문장 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [44]:
long_char2 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야한다.\
만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 \
줄바꿈을 할 수 있다."

In [45]:
print(long_char2)

문자열은 아무리 길이가 길어도 한 줄로 입력해야한다.만약 줄바꿈을 하고 싶다면 \를 문장 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [46]:
#  출력시 줄바꿈으로 하고 싶을 떄 \n
long_char3 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야한다.\n \
만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 \n \
줄바꿈을 할 수 있다."

In [47]:
print(long_char3)

문자열은 아무리 길이가 길어도 한 줄로 입력해야한다.
 만약 줄바꿈을 하고 싶다면 \를 문장 줄바꿈할 곳 끝에 넣고
 줄바꿈을 할 수 있다.

# 이스케이프문자 없이 줄바꿈하며 압력하고 싶을 때
""" """, "' '"

In [48]:
long_char4 = """문자열은 아무리 길이가 길어도 한 줄로 입력해야한다.
만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 
줄바꿈을 할 수 있다."""

In [49]:
print(long_char4 )

문자열은 아무리 길이가 길어도 한 줄로 입력해야한다.
만약 줄바꿈을 하고 싶다면 \를 문장 줄바꿈할 곳 끝에 넣고
줄바꿈을 할 수 있다.

In [50]:
long_char5 = '''열은 아무리 길이가 길어도 한 줄로 입력해야한다.
만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 
줄바꿈을 할 수 있다.'''

In [51]:
print(long_char5)

열은 아무리 길이가 길어도 한 줄로 입력해야한다.
만약 줄바꿈을 하고 싶다면 \를 문장 줄바꿈할 곳 끝에 넣고
줄바꿈을 할 수 있다.

In [52]:
long_char5

'열은 아무리 길이가 길어도 한 줄로 입력해야한다.\n만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 \n줄바꿈을 할 수 있다.'

# 문자열의 길이 재기 len(문자열/변수)

In [53]:
len("'열은 아무리 길이가 길어도 한 줄로 입력해야한다.만약 줄바꿈을 하고 싶다면 \\를 문장 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.'")

75

In [54]:
long_char5[9]

'가'

# 문자열의 번호(index)는 갈아 -1 이다.
* len의 결과가 74일 경우 인덱스는 0-73번 까지

# 문자의 덧셈,곱셈
* 문자의 덧셈: 붙이기
* 문자의 곱셈: 반복

In [55]:
c = "python"
d = "쉬워요"

In [56]:
print(c, d)

python 쉬워요

In [57]:
# 문자 + 문자2 == 문자문자2
f = c +" "+ d
print(f)

python 쉬워요

In [58]:
# 문자 곱셈 == 문자의 반복

a = "*"
b = "Hello World"
print(a*11)
print(b)
print(a*11)

***********
Hello World
***********

# 문자열의 인덱싱과 슬라이싱
* 인덱싱:  문자열의 앞에서부터 부여된 숫자를 대괄호 안에 넣어서 그  위치의 문자를 출력하는 것.
    * 변수[숫자]
* 슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것.
    * 변수[시작번호:끝번호+1:간격]

In [59]:
sliceing = "슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것."

In [60]:
sliceing[0]

'슬'

In [61]:
sliceing[6:10]

'문자열에'

In [62]:
sliceing[::2]

'슬이:문열 여 덱 호 위 어 져는것'

# 리스트 list
* 리스트는 [] 안에 정수,실수,문자/문자열,리스트.튜플,딕셔너리를 모두 넣어서 만든다.
* 리스트는 여러가지 자료가 나열된 형태이므로 순서가 있다.
* 인뎃싱,슬라이싱 가능
* 자료의 추가/삭제가 가능하다.

In [63]:
a = [1,3.5,"삼","사십오",[1,2,3],(4,5,6),{"key":"value"}]

In [64]:
print(a)

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [65]:
print(a[4:7])

[[1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [66]:
print(type(a))

<class 'list'>

In [67]:
print(type(a[0]))

<class 'int'>

# 리스트 안에 리스트/튜플이 있는 경우는?

In [68]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [69]:
a[3]

'사십오'

In [70]:
a[3][2]

'오'

In [71]:
a[4][2]

3

# 중첩리스트

In [72]:
b = [1, 3.5, '삼', '사십오', [1, 2,[4,5,[7,8,9],10]], (4, 5, 6), {'key': 'value'}]

In [73]:
b[4][2][2][2]

9

#  len함수로 길이 구하기

In [74]:
len(b)

7

In [75]:
len(b[3])

3

In [76]:
len(b[4][2])

4

# 4.리스트에 자료 추가하기 .append(자료)
* append로 추가된 자료는  리스트의 가장 마지막에 추가 됨

In [77]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'}]

In [78]:
b.append(99)

In [79]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99]

In [80]:
b.append(99.999)

In [81]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999]

In [82]:
b.append(["일","이","삼"])

In [83]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼']]

In [84]:
b.append((1,2,3))

In [85]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3)]

In [86]:
b.append({"key2:value2"})

In [87]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3),
 {'key2:value2'}]

In [88]:
del b[9]

In [89]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3),
 {'key2:value2'}]

In [90]:
del b[10:12]

In [91]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3)]

# 리스트 자료 수정하기

In [92]:
b[0] = 1000
b

[1000,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3)]

# 5.튜플tuple
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type의 자료를 넣을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트보다 실행 속도가 빠르다.

In [93]:
# 튜플은 자료 한개를 넣읗 떄 ,를 넣어야 튜플이 된다.
t = (1,)

In [94]:
t

(1,)

In [95]:
t2 = (2)
2

2

In [96]:
print(type(t)),
print(type(t2))

<class 'tuple'>
<class 'int'>

In [97]:
t3 = (1,2.5,"문","문자열",[3,4,5],(5,6,7),{'key':'value'})
t3

(1, 2.5, '문', '문자열', [3, 4, 5], (5, 6, 7), {'key': 'value'})

In [98]:
t3[4][1]

4

In [99]:
t3[0:4]

(1, 2.5, '문', '문자열')

In [100]:
#튜플은 자료 추가가 안됨
t3.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [101]:
# 튜플은 자료 수정도 안됨
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [102]:
# 튜플은 자료 삭제가 안된다.
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

# 6. 딕셔너리형(dict) JSON {"key" : "value"} 
* key와 value로 이루어진 데이터형
* json 이라고도 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음.
* 딕셔너리의 key에는 list,dict는 올 수 없음.
* key를 호출하면 value가 출력됨.
* 딕셔너리는 순서가 없는 자료형

In [103]:
dict1 = {"이름":"홍길동","나이":33,"키":175.4,"가족":['둘리','또치','도우너']}

In [104]:
print(dict1["이름"],type(dict1["이름"]))

홍길동 <class 'str'>

In [105]:
print(dict1["나이"],type(dict1["나이"]))

33 <class 'int'>

In [106]:
print(dict1["키"],type(dict1["키"]))

175.4 <class 'float'>

In [107]:
print(dict1["가족"],type(dict1["가족"]))

['둘리', '또치', '도우너'] <class 'list'>

In [108]:
dict1["가족"]

['둘리', '또치', '도우너']

In [109]:
dict1["가족"][0]

'둘리'

In [110]:
dict2 = {"가족":['둘리','또치','도우너',{"키":[145,155,165]}]}

# dict 에서 len은 key의 갯수

In [111]:
len(dict2)

1

In [112]:
dict2["가족"]

['둘리', '또치', '도우너', {'키': [145, 155, 165]}]

In [113]:
dict2["가족"][3]

{'키': [145, 155, 165]}

In [114]:
dict2["가족"][3]['키']

[145, 155, 165]

In [115]:
dict2["가족"][3]['키'][1]

155

# 딕셔너리에 자료 추가/삭제하기
* 자료추가
    * 변수명['새로운 key']= 새자료 **key가 중복뒤면 안됨, 중복될 경우 나중 값으로 덮어쓰기 됨**
* 자료 삭제
    * del 변수명['key']

In [116]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}]}

In [117]:
dict2['좋아하는 음식'] = ['자장면','짬뽕','볶음밥']

In [118]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}],
 '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [119]:
dict2['가족']

['둘리', '또치', '도우너', {'키': [145, 155, 165]}]

In [120]:
dict2['가족'][3]

{'키': [145, 155, 165]}

In [121]:
del dict2['가족'][3]

In [122]:
dict2

{'가족': ['둘리', '또치', '도우너'], '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [123]:
del dict2['좋아하는 음식']

In [124]:
dict2

{'가족': ['둘리', '또치', '도우너']}

In [125]:
dict2['가족'] = '대가족'

In [126]:
dict2

{'가족': '대가족'}

# 형변환 함수
* data type을 다른 data type으로 바꾸는 것
* int, float, str, list, tuple, dict

## int() 숫자나 문자를 정수로 형변환

In [127]:
a = 3.14

In [128]:
print(a, type(a))

3.14 <class 'float'>

In [129]:
print(int(a),type(int(a)))

3 <class 'int'>

In [130]:
b = "3"
print(b,type(b))

3 <class 'str'>

In [131]:
b

'3'

In [132]:
int(a)

3

In [133]:
print(int(b),type(int(b)))

3 <class 'int'>

## floaat() 정수나,문자를 실수로 형변환

In [134]:
c = 200
print(c,type(c))

200 <class 'int'>

In [135]:
print(float(c),type(float(c)))

200.0 <class 'float'>

In [136]:
c

200

In [137]:
c = float(c)

In [138]:
c

200.0

In [139]:
d = "3.14"
print(d, type(d))

3.14 <class 'str'>

In [140]:
d = float(d)

In [141]:
print(d, type(d))

3.14 <class 'float'>

## str() 숫자나,다른 자료형을 문자로 변환

In [142]:
a = 10
b = 34.5
c = [1,2,4,"오"]
d = ("육",7,8.5,9)
e = {3 : [1,2,3]}

In [143]:
print(str(a),type(str(a)))

10 <class 'str'>

In [144]:
print(str(b),type(str(b)))

34.5 <class 'str'>

In [145]:
print(str(c),type(str(c)))

[1, 2, 4, '오'] <class 'str'>

In [146]:
print(str(d),type(str(d)))

('육', 7, 8.5, 9) <class 'str'>

In [147]:
print(str(e),type(str(e)))

{3: [1, 2, 3]} <class 'str'>

## list() 튜플이나 문자열로 되어 있는 리스트를 리스트로 변환

In [148]:
print(d,list(d),type(list(d)))

('육', 7, 8.5, 9) ['육', 7, 8.5, 9] <class 'list'>

In [149]:
c = str(c)
print(c,type(c))

[1, 2, 4, '오'] <class 'str'>

In [150]:
print(list(c),type(list(c)))

['[', '1', ',', ' ', '2', ',', ' ', '4', ',', ' ', "'", '오', "'", ']'] <class 'list'>

In [151]:
d = list(d)
print(d,type(d))

['육', 7, 8.5, 9] <class 'list'>

In [152]:
d.append("튜플을 리스트로 변환 후 자료 입력")

In [153]:
d

['육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력']

## tuple() 리스트를 튜플로 변환

In [154]:
d = tuple(d)
print(d,type(d))

('육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력') <class 'tuple'>

# 연산자의 종류

## 산술연산자 +,-,*, /,%, // , **

In [155]:
# 덧셈
1+1

2

In [156]:
# 뺄셈
3-2

1

In [157]:
a = 3
b = 2

In [158]:
a - b

1

In [159]:
a+b

5

In [160]:
# 곱셈
a*b

6

### 나눗셈을 할 경우 데이터 타입이 정수에서 실수로 바뀐다.

In [161]:
# 나눗셈 결과는 반드시 실수로 나온다.
b/a

0.6666666666666666

In [162]:
a = 5
b = 2

In [163]:
# 나머지 연산자 % 나눈후 나머지만 출력
# 홀수 짝수 구분시 주로 사용 % 2 == 0 짝수 %2 == 1 홀수
# 배수를 구할 때 사용 %2 == 0 3의 배수, % 7 == 0 7의 배수
print(a/b)
print(a%b)
print(6%2)

2.5
1
0

In [164]:
# // 나눗셈 후 몫만 출력
print(5/2)
print(5//2)

2.5
2

In [165]:
# ** 제곱
print(2 ** 7)

128

## 할당 연산자
* =,+=,-=,/=,%=

In [166]:
# = : 오른쪽에 있는 자룔르 왼쪽 변수에 집어 넣는 할당 연산자
a = 10
a

10

In [167]:
# b = b + 10  => b+= 10
b += 10
b

12

In [168]:
# b = b - 2  => b-= 2
b -= 2
b

10

In [169]:
# b = b* 3 => b *= 3
b *= 3
b

30

In [170]:
# b = b/5 => b/= 5
b/= 5

In [171]:
b

6.0

In [172]:
# b = b % 2 => b %= 2
b %= 2

In [173]:
b

0.0

# 비교연산자
* 같다 ==
* 다르다 !=
* 초과 > 
* 이상 >=
* 미만 <
* 이하 <=

In [174]:
a = 3
b = 3.0
c = 5
d = "Python"
e = 'python'
f = True
g = False

* == 같으면 True 다르면 False

In [175]:
a == b

True

In [176]:
a == c

False

In [177]:
# 대문자랑 소문자는 아스키 코드 값이 다르기 떄문에 같은 단어여도 대소문자가 다르면 False가 뜬다.
d == e

False

* != 같으면 Flase, 다르면 True

In [179]:
a != b

False

In [180]:
f != g

True

* \> 왼쪽값을 오른쪽 값과 비교해서 크면 True(초과) 
* \< 왼쪽값을 오른쪽 값과 비교해서 작으면 True(미만)
* \>= 왼쪽값을 오른쪽 값과 비교해서 크거나 같으면 True(이상) 
* \<= 왼쪽값을 오른쪽 값과 비교해서 작거나 같으면 True(이하)

In [181]:
5 >= 3

True

In [182]:
5 > 3

True

In [183]:
5 < 3

False

In [184]:
5 < 5

False

In [185]:
5 > 5

False

# 논리 연산자
+ and, or , not

* and: 왼쪽과 오른쪽 값 모두 True일 때,True, 하나라도 False 이면 False

In [186]:
# True and True
3 == 3 and 5 > 3

True

In [188]:
# True and False
3 == 3 and 5 < 3

False

In [190]:
# False and True
3 < 3 and 5 > 3

False

In [191]:
# False and False
3 < 3 and 5 < 3

False

* or 왼쪽이나 오른쪽 중에 하나라도 True 면 True ,둘다 False 일 때 만 False

In [194]:
# True or True
3 == 3 or 5 > 3

True

In [195]:
# False or True
3 > 3 or 5 > 3

True

In [197]:
# True or False
3 == 3 or 5 < 3

True

In [198]:
# False or False
3 > 3 or 5 < 3

False

* not 값을 반대로 뒤집음 True => False, Flase => True

In [199]:
not True

False

In [200]:
not False

True

In [202]:
not 3 > 3 and not 5 < 3

True

* not, and , or의 순위
* not > and > or

In [203]:
not True and False or not False

True

In [205]:
True and True
10 == 10 and 10 != 5

True

# 식별연산자
* is, is not(data type까지 같은지 비교)

In [207]:
print(a)
print(b)
print(c)

3
3.0
5

In [209]:
# == 는 값만 같으면 ,True 처리, is는 값이 같아도 데이터 타입이 다르면 False
print(a == b)
print(a is b)

True
False

In [210]:
d = 3

In [212]:
# a와 d 모두 int 3이기 때문에 True
print(a is d)

True

In [214]:
# is not은 둘이 다르면 True
print(a is not b)

True

* 맴버 연산자
* in, not in
* list나 Tuple,dict 안에 원하는 값이 있는지 찾을 때 사용

In [215]:
mem = [1,2,3,4,5,"육"]

In [216]:
3 in mem

True

In [217]:
6 in mem

False

In [218]:
6 not in mem

True

In [220]:
3 not in mem

False

# 문자열 함수  .replace("찾을값", "바꿀값")

In [221]:
c = "010-1111-2222"
c

'010-1111-2222'

In [223]:
c.replace("-",".")

'010.1111.2222'