# 딕셔너리 사용하기
* dict타입 , json 타입이라고도 함
* web에서 자료를 주고 받을 때 주로 사용하는 형식(api)
* key : value 쌍으로 이루어진 자료형
* key를 호출하면 value가 나온다.
* key에는 list,dict를 제외한 자료형이 올 수 있다.
* value에는 모든 자료형이 올 수 있다.

# 딕셔너리 만들기
* 중괄호 안에 key : value 쌍으로 만든다.
* 빈 딕셔너리 생성 가능{}
* dict()함수를 이용해서 대량의 딕셔너리 생성 가능

In [58]:
d = {'년월' : '20250924','국가': '미국','방문자수':1000}
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [59]:
d['년월']

'20250924'

In [60]:
d2 = {}
print(d2,type(d2))

{} <class 'dict'>

# dict key의 자료형
* list와 dict를 제외한 나머지 자료형으로 만듬
* 정수,실수,문자열,블릔(True,False), Tuple

In [61]:
d3 = {'백' : 100 , 100 : '백',3.5 :[3.5,3.7], False:0,(0,'서울'):'강남구'}
d3

{'백': 100, 100: '백', 3.5: [3.5, 3.7], False: 0, (0, '서울'): '강남구'}

In [62]:
# 문자열 키
d3['백']

100

In [63]:
# 정수키
d3[100]

'백'

In [64]:
# 실수 키
d3[3.5]

[3.5, 3.7]

In [65]:
# 블린 키
d3[False]

0

In [66]:
# 튜플 키
d3[(0,'서울')]

'강남구'

# 딕셔너리 value의 자료형
* value는 모든 자료형이 올 수 있다.

In [67]:
d4 = {"정수" : 100, "실수" : 3.5, "문자열": "딕셔너리의 값",
     "리스트" : [1,2,3,4],"튜플":(5,6,7,8),
     "딕셔너리": {'key' : 'value'},
     "블린" : True}
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [68]:
d4['정수']

100

In [69]:
d4['실수']

3.5

In [70]:
d4['리스트']

[1, 2, 3, 4]

In [71]:
d4['튜플']

(5, 6, 7, 8)

In [72]:
d4['딕셔너리']

{'key': 'value'}

In [73]:
d4['블린']

True

# 빈 딕셔너리 만들기
* 변수 = {}
* 변수 = dict()

In [74]:
d5 = {}
print(d5,type(d5))

{} <class 'dict'>

In [75]:
d6 = dict()
print(d6,type(d6))

{} <class 'dict'>

# 딕셔너리에 자료 추가하기
* 변수['key'] = value
* 이미 키가 있는 경우에는 자료가 수정됨, 나중에 입력한 자료로 덮어쓰기 됨.

In [76]:
d5

{}

In [77]:
d5['번호']=0
d5

{'번호': 0}

In [78]:
d5['리스트']=[1,2,3]
d5

{'번호': 0, '리스트': [1, 2, 3]}

In [79]:
# 이미 키가 있는 경우 나중 값으로 대체된다.
d5['리스트']=[1,2,3,4]
d5

{'번호': 0, '리스트': [1, 2, 3, 4]}

In [80]:
d7 = {'번호' : 0, '이름' : '홍길동' , '나이' : 35,
     '번호' : 1, '이름' : '둘리' , '나이' : 15}
d7

{'번호': 1, '이름': '둘리', '나이': 15}

# dict 함수를 이용해서 dict 만들기
* dict(key1 = value1,key2 = value2,key3 = value3)
* key부분에 ""(따옴표)를 사용하지 않는다.
* key는 모두 문자형으로 변환된다.
* value가 문자형이면 반드시 ""가 필요하다.

In [81]:
dict_ex1 = dict(정수=100, 실수 = 3.5, 문자="문자열",리스트=[1,2,3],튜플=(4,5,6),
               딕셔너리 = {'key':'value'})
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리': {'key': 'value'}}

* dict([(ke1,value1),(ke2,value2),(ke3,value3)])
* 리스트 안에 key,value 쌍으로 된 튜플을 넣어서 만듬
* key는 자료형애 맞춰서 작성

In [82]:
dict_ex2 = dict([(1,10),(3.5,"3.5"),('문자열','문자열입니다.'),
                ('list',[1,2,3]),('tuple',(4,5,6)),
                 ('dict',{'key':'value'})])
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

* dict(zip([key1,key2,key3],[value1,value2,value3]))
* key 묶음 리스트와  value 묶음 리스트를 zip함수로 합친 후 dict 생성
* key묶음의 요소 개수와 value 묶음의 요소 개수가 일치해야 함

In [2]:
# zip함수 예시
for i in [1,2,3]:
    print(i,end=" ")

1 2 3

In [84]:
for i in zip([1,2,3], [4,5,6],[7,8]):
    print(i,end=" ")

(1, 4, 7) (2, 5, 8)

In [85]:
dict_ex3 = dict(zip(['정수','실수','문자열'],[10,12.5,'문자열입니다.']))
dict_ex3

{'정수': 10, '실수': 12.5, '문자열': '문자열입니다.'}

In [86]:
dict_ex3['정수']

10

# 딕셔너리에 값 입력하고,수정하고,삭제하기

In [87]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [88]:
dict_ex2['newkey'] = '새로운 데이터'
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'newkey': '새로운 데이터'}

In [89]:
# 딕셔너리 안에 있는 list value에 새로운 값 추가,수정,삭제

In [90]:
# 딕셔너리 안에있는 값이 리스트면 리스트에 사용가능한 함수도 사용할 수있다.

In [91]:
# 정수 ,문자열
dict_ex2[1] + float(dict_ex2[3.5])

13.5

In [92]:
dict_ex2['list'].append(4)
dict_ex2['list']

[1, 2, 3, 4]

In [93]:
max(dict_ex2['list'])

4

In [94]:
dict_ex2['list'].insert(2,30)
print(dict_ex2['list'])

[1, 2, 30, 3, 4]

In [95]:
dict_ex2['list'][2] = 33

In [96]:
dict_ex2['list']

[1, 2, 33, 3, 4]

In [97]:
dict_ex2['list'].pop()

4

In [98]:
dict_ex2['list'].remove(2)

In [99]:
dict_ex2['list']

[1, 33, 3]

In [100]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'newkey': '새로운 데이터'}

In [101]:
dict_ex2['dict']

{'key': 'value'}

In [102]:
dict_ex2['dict']['key2']="value2"

In [103]:
dict_ex2['dict']

{'key': 'value', 'key2': 'value2'}

In [104]:
del dict_ex2['dict']['key2']

In [105]:
dict_ex2['dict']

{'key': 'value'}

In [106]:
# pop()을 이용해서 삭제
# 딕셔너리에서 pop()을 사용할 떄 반드시 키를 넣어줘야 한다.
dict_ex2.pop('newkey')

'새로운 데이터'

In [107]:
dict_ex2.pop('문자열')

'문자열입니다.'

In [108]:
dict_ex2

{1: 10,
 3.5: '3.5',
 'list': [1, 33, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

# 딕셔너리 안에 특정 key가 있는지 확인하기
* in,not in

In [109]:
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리': {'key': 'value'}}

In [110]:
'정수' in dict_ex1

True

In [111]:
'정수2' in dict_ex1

False

# 딕셔너리 안에 key가 몇개 있는지 확인하기
* len()
* key의 개수만 출력
* 가장 외부의 key 개수만 카운트 함, 내부 딕셔너리에 key는 따로 꺼내서 세야함

In [112]:
data = {'info' : [{'name':'alice','scores':(95,88,92)},
                  {'name':'bob','scores':(78,85,89)}],
        'extra' : {'hobbies':['leading','coding'],
                   'location' : ['seoul','busan']}
       }

In [113]:
len(data)

2

In [114]:
len(data['info'][0])

2

In [115]:
data['info'][0]['scores']

(95, 88, 92)

In [116]:
# dict-list-dict-tuple-int
data['info'][0]['scores'][0]

95

# 딕셔너리 함수 사용하기

## setdefault(key,value) 딕셔너리에 자료 추가
* 딕셔너리에 key와 value를 추가
* key가 중복되면 나중에 추가하는 값을 무시한다.(원해 자료 보존)
* key만 넣고 value를  생략하면 자동으로 'None'이 입력됨

In [117]:
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [120]:
d["년월"]='20240924'
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [123]:
# 기존에 key가 있는 경우 기존 key의 value를 출력하고 새로값은 무시
d.setdefault('년월',20250924)

'20240924'

In [124]:
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [125]:
d.setdefault('날씨','맑음')

'맑음'

In [127]:
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [128]:
for i in range(1,11):
    d.setdefault('숫자',[]).append(i)

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

# update(key=value)
* 기존에 key가 있는 경우 값을 새로운 값으로 update
* 기존에 key가 없는 경우 새로운 key와 ,value 생성
* key 부분에는 ''를 사용하지 않는다.
* 기존에 key가 없어서 새로 추가하는 경우 key부분에는 문자형 key만 올 수 있다.
* update는 문자형 key만 업데이트 가능

In [131]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [132]:
d.update(방문자수=500)

In [134]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [135]:
d.update(바람='강함')
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함'}

In [136]:
d.update(100='백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2659136881.py, line 1)

In [137]:
d.update(100='백')
dd.update((100,'튜플')='백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (513947479.py, line 1)

In [138]:
d[3] = 300
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 3: 300}

In [139]:
d.update(3='삼백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (408612612.py, line 1)

# 딕셔너리에서 value를 가져오는 함수 .get()
* 디셔너리에서 value를 보고 싶을 때는 key를 호출하면 된다.
* 만약 딕셔너리 안에 key가 없는데 호출하는 경우 오류 발생
* .get('key','key가 없을 떄 출력할 내용')key없어도 오류X, 기본값 출력
* 딕셔너리 내에 key가 있다가 없다가를 반복하는 경우 오류 방지

In [140]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 3: 300}

In [141]:
d['바람']

'강함'

In [1]:
d['강수량']

NameError: name 'd' is not defined

In [144]:
d.get('강수량', '해당 key 없음')

'해당 key 없음'

# 딕셔너리에서 key,value,(key+value)를 가져오는 함수
* keys() : 딕셔너리에서 key만 출력
* values() : 딕셔너리에서 value만 출력
* items() : 딕셔너리에서 key,value를 튜플 묶음 형태로 출력(key,value)
* 위의 3 함수의 결과를 list()로 형변환을 해주면 list처럼 사용 가능

In [145]:
data.keys()

dict_keys(['info', 'extra'])

In [150]:
keys = list(data.keys())
print(type(data.keys()),type(list(data.keys())))

<class 'dict_keys'> <class 'list'>

In [151]:
keys

['info', 'extra']

In [153]:
keys[0]

'info'

In [157]:
data['info'][0].keys()

dict_keys(['name', 'scores'])

In [163]:
# values
values = data.values()

In [164]:
values = list(values)
values

[[{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 {'hobbies': ['leading', 'coding'], 'location': ['seoul', 'busan']}]

In [165]:
values[0][1].values()

dict_values(['bob', (78, 85, 89)])

In [166]:
# items는 (key,value) 형식으로 출력
data.items()

dict_items([('info', [{'name': 'alice', 'scores': (95, 88, 92)}, {'name': 'bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['leading', 'coding'], 'location': ['seoul', 'busan']})])

In [167]:
items = list(data.items())
items

[('info',
  [{'name': 'alice', 'scores': (95, 88, 92)},
   {'name': 'bob', 'scores': (78, 85, 89)}]),
 ('extra', {'hobbies': ['leading', 'coding'], 'location': ['seoul', 'busan']})]

In [168]:
items[0]

('info',
 [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}])

In [169]:
items[1]

('extra', {'hobbies': ['leading', 'coding'], 'location': ['seoul', 'busan']})

In [170]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 3: 300}

In [171]:
d.keys()

dict_keys(['년월', '국가', '방문자수', '날씨', '숫자', '바람', 3])

In [172]:
d.values()

dict_values(['20240924', '미국', 500, '맑음', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], '강함', 300])

In [173]:
d.items()

dict_items([('년월', '20240924'), ('국가', '미국'), ('방문자수', 500), ('날씨', '맑음'), ('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), ('바람', '강함'), (3, 300)])

In [174]:
for key in d.keys():
    print(key)

년월
국가
방문자수
날씨
숫자
바람
3

In [175]:
for key, value in d.items():
    print('key:',key,'value:',value)

key: 년월 value: 20240924
key: 국가 value: 미국
key: 방문자수 value: 500
key: 날씨 value: 맑음
key: 숫자 value: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
key: 바람 value: 강함
key: 3 value: 300