# 반복문 fot,while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for,while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우** 사용
* while은 **반복 횟수가 정해져 있지 않는 경우** 사용(무한반복)

# for 반목문 : 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕셔너리): <br>
____반복할 코드

In [1]:
# 숫자 생성 함수 range(시작,끝+1, step)

In [2]:
# for 문을 이용해서 숫자 1-10을 출력
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

## 반복문에서 사용 할 수 있는 자료형

* 문자열

In [3]:
for i in "파이썬은 문자열을 반복문에 넣어서 출력 가능":
    print(i)

파
이
썬
은

문
자
열
을

반
복
문
에

넣
어
서

출
력

가
능

* 리스트/튜플

In [4]:
l1 = [1,2,3,4.5,'리스트',[1,2,3],(4,5,6),{"key":"value"}]
t1 = tuple(l1)
print(type(l1),type(t1))
print(l1)
print(t1)

<class 'list'> <class 'tuple'>
[1, 2, 3, 4.5, '리스트', [1, 2, 3], (4, 5, 6), {'key': 'value'}]
(1, 2, 3, 4.5, '리스트', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [5]:
# 리스트를 반복문에 넣어서 요소를 하나씩 출력
for i in l1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

In [6]:
# 튜플를 반복문에 넣어서 요소를 하나씩 출력
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

In [7]:
d = dict(이름='홀길동',나이=40,주소="서울",전화번호="010-1111-1111")
d

{'이름': '홀길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-1111'}

In [8]:
# 딕셔너리를 반복문에 넣으면 딕셔너리의 key가 출력
for i in d:
    print(i)

이름
나이
주소
전화번호

In [9]:
# 딕셔너리는 len을 사용시 가장 상위의 key의 개수가 출력됨
len(d)

4

In [10]:
# key를 이용해 value를 출력
for i in d:
    print(d[i])

홀길동
40
서울
010-1111-1111

In [11]:
# key를 이용해 value를 출력
for i in d:
    print(d.get(i,"key없음"))

홀길동
40
서울
010-1111-1111

In [12]:
# 딕셔너리 함수인 values()
d.values()
print(type(d.values()))

<class 'dict_values'>

In [13]:
for i in d.values():
    print(i)

홀길동
40
서울
010-1111-1111

In [14]:
for i in d.items():
    print(i)

('이름', '홀길동')
('나이', 40)
('주소', '서울')
('전화번호', '010-1111-1111')

* for 반복문을 이용해서 1-10까지 정수를 더한 합을 출력하세요

In [15]:
# 합산한 전체 결과를 보고싶으면 for문 안에 결과만 보고싶으면 for문 밖에 입력하면된다.
hap = 0
for num in range(1,11):
    hap = hap + num
    print(hap)

1
3
6
10
15
21
28
36
45
55

* 1에서50사이의 숫자중에서 짝만 더란 합을 구하세요
* 숫자가1-50 사이로 생성
* 짝수인지 판별 if
* hap변수에 짝수만 합치기
* 합계 출력하기

In [16]:
hap = 0
for num in range(1,51):
    #print(num, end=" ")
    if num%2 == 0:
        hap = hap + num
print(hap)

650

## 반복문에 사용할 자료를 일부 구간만 사용하기
* 슬라이싱

* 1부터 100까지 숫자를 생성하고 그중에서 30-70까지만 더해서 출력하세요.

In [17]:
# if 조건문을 이요해서 필터링
hap = 0
for num in range(1,101):
#    print(num,end=' ')
    if 30 <= num<= 70:
        hap += num
        print(f"{num}:{num},hap:{hap}")

30:30,hap:30
31:31,hap:61
32:32,hap:93
33:33,hap:126
34:34,hap:160
35:35,hap:195
36:36,hap:231
37:37,hap:268
38:38,hap:306
39:39,hap:345
40:40,hap:385
41:41,hap:426
42:42,hap:468
43:43,hap:511
44:44,hap:555
45:45,hap:600
46:46,hap:646
47:47,hap:693
48:48,hap:741
49:49,hap:790
50:50,hap:840
51:51,hap:891
52:52,hap:943
53:53,hap:996
54:54,hap:1050
55:55,hap:1105
56:56,hap:1161
57:57,hap:1218
58:58,hap:1276
59:59,hap:1335
60:60,hap:1395
61:61,hap:1456
62:62,hap:1518
63:63,hap:1581
64:64,hap:1645
65:65,hap:1710
66:66,hap:1776
67:67,hap:1843
68:68,hap:1911
69:69,hap:1980
70:70,hap:2050

In [18]:
# 슬라이싱 활용
hap = 0
for num in range(1,101)[29:70]:
#    print(num,end=' ')
    hap += num
print(hap)

2050

* 1-100까지 숫자중에서 짝수만 합 구하기 (슬라이싱 이용)

In [19]:
hap = 0
for num in range(1,101)[1::2]:
#     print(num,end=' ')
    hap += num
print(hap)

2550

* 1에서 100까지 숫자를 생성하고 역순으로 출력하세요

In [20]:
# range 함수에서 숫자를 역순으로 만들기
for num in range(1,101)[::-1]:
    print(num,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [21]:
# range 함수에서 숫자를 역순으로 만들기
for num in range(100,0,-1):
    print(num,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [22]:
# reversed() 함수 사용
for num in reversed(range(1,101)):
    print(num,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [23]:
for num in sorted(range(1,101),reverse=True):
    print(num,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# enumerate() 반복문에서 자료의 인덱스를 만들어 주는 함수

In [24]:
s = "enumerate 함수는 반복문에서 index를 만들어 출력해 주는 함수입니다."

In [25]:
import time

In [26]:
for idx, i in enumerate(s):
  #  print(idx,i)
    if idx %2 == 0:
        print(i, end=" ")

e u e a e 함 는 반 문 서 i d x   들   력   는 함 입 다

In [27]:
for idx, i in enumerate(s):
#    print(f"{idx+1}/{len(s)} 실행중",  end="\r")
    print(i)
    time.sleep(0.1)

e
n
u
m
e
r
a
t
e

함
수
는

반
복
문
에
서

i
n
d
e
x
를

만
들
어

출
력
해

주
는

함
수
입
니
다
.

# countiue/break
* countinue : 코드 실행을 건너 뛰고 반복 계속 진행
* break : 특정 조건이 되었을 때 반복문 정지

In [28]:
for idx, i in enumerate(s):
    if idx %2 == 0:
        continue
        print(idx,i)
    else:
        if idx > 19:
            break
        print(idx, i)

1 n
3 m
5 r
7 t
9
11 수
13
15 복
17 에
19

In [29]:
# 1-100까지 숫자를 생성하고 홀수만 합계를 구하세요.
# 짝수면 짝수만 모인 리스트를 만들고 출력하세요.
# 숫자가 70을 초과하면 멈추세요.
hap = 0
even = []
for i in range(1,101):
#    print(i)
    if i > 70:
        break
    else:
        if i % 2 != 0:
            hap += i
        else:
            even.append(i)
print(f"홀수의 합:{hap}")
print(f"짝수의 리스트 : {even}")

홀수의 합:1225
짝수의 리스트 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

# while:반복할 횟수가 정해지지 않은 경우
* 무한반복이 가능
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요

변수 선언 및 초기화 ex) num = 0 <br>
while 조건식:<br>
____반복할 코드<br>
____변수 증가/감소 코드<br>
____반복문이 종료되는 조건 + break

* while 문으로 1-10까지 출력하기

In [30]:
i = 1
while i <= 10:
    print(i, end = " ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [31]:
i = 1
while True:
    print(i, end = " ")
    if i >= 10:
        break
    i += 1

1 2 3 4 5 6 7 8 9 10

* 1-50까지 수 2중에서 3의 배수이거나 짝수인 수를 찾아서 합계를 출력하세요.

In [32]:
i = 1
hap = 0
list_4s = []
while i <= 50:
    if i % 3 == 0 or i % 2 == 0:
        hap += i
        print(f"i:{i},hap:{hap}")
        if i % 4 == 0:
            list_4s.append(i)
    i += 1
print(hap)
print(i)

i:2,hap:2
i:3,hap:5
i:4,hap:9
i:6,hap:15
i:8,hap:23
i:9,hap:32
i:10,hap:42
i:12,hap:54
i:14,hap:68
i:15,hap:83
i:16,hap:99
i:18,hap:117
i:20,hap:137
i:21,hap:158
i:22,hap:180
i:24,hap:204
i:26,hap:230
i:27,hap:257
i:28,hap:285
i:30,hap:315
i:32,hap:347
i:33,hap:380
i:34,hap:414
i:36,hap:450
i:38,hap:488
i:39,hap:527
i:40,hap:567
i:42,hap:609
i:44,hap:653
i:45,hap:698
i:46,hap:744
i:48,hap:792
i:50,hap:842
842
51

# while의 무한 반복
* while 뒤의 조건이 True인 경우 무한 반복
* while문 내에서 if 조건문으로 break를 걸어주어야 멈춤
* True가 되는 조건: True,1,정수,실수,문자열,list등 자료가 들어있는 모든 변수나 자료
* False가 되는 조건: False,0, 0.0, " ",' ',[],(),{}

In [33]:
i = 1
while "":
    print(i, '무한 반복')
    i += 1

# 중첩 반목문
* 반복문을 2개이상 겹쳐서 사용
* 시계의 원리와 같음
* 초 60 -> 1분 60분 -> 1시간 24
* 안쪽 반복문이 끝난 후 바깥쪽 반복문이 실행
* 아날로그 시계의 초침 -> 분침 -> 시침

* 구구단 만들기 2중 중첨 for문으로 작성
* 2단 - 9단
* 각 단마다 1-9
* 2 * 1 = 2
* 2 * 2 = 4

In [34]:
# 2-9단 시침
for num1 in range(2,10):
#    print(num1) 
    pass
    # 분침
    for num2 in range(1,10):
        print(f"{num1}X{num2} = {num1*num2}")

2X1 = 2
2X2 = 4
2X3 = 6
2X4 = 8
2X5 = 10
2X6 = 12
2X7 = 14
2X8 = 16
2X9 = 18
3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36
6X7 = 42
6X8 = 48
6X9 = 54
7X1 = 7
7X2 = 14
7X3 = 21
7X4 = 28
7X5 = 35
7X6 = 42
7X7 = 49
7X8 = 56
7X9 = 63
8X1 = 8
8X2 = 16
8X3 = 24
8X4 = 32
8X5 = 40
8X6 = 48
8X7 = 56
8X8 = 64
8X9 = 72
9X1 = 9
9X2 = 18
9X3 = 27
9X4 = 36
9X5 = 45
9X6 = 54
9X7 = 63
9X8 = 72
9X9 = 81

* 반목문 3개로 시계 만들기
* 초: 00-59
* 분: 00-59
* 시:00-23
import time
time.sleep(0.1)
* 00:00:00-23:59:59

In [41]:
import time
#시침
for si in range(0,24):
    # 분침
    for bun in range(0,60):
        #초침
        for cho in range(0,60):
            print(f"{si:02d}:{bun:02d}:{cho:02d}", end="\r")
            time.sleep(0.01)

KeyboardInterrupt:

# 중첩 반복문을 이용해서 다중 리스트 출력하기

In [1]:
l1 = []

In [10]:
l2 = ["오",1,2,3,4,5]

In [11]:
l1.append(l2)
l1

[['일', 1, 2, 3, 4, 5],
 ['이', 1, 2, 3, 4, 5],
 ['삼', 1, 2, 3, 4, 5],
 ['사', 1, 2, 3, 4, 5],
 ['오', 1, 2, 3, 4, 5]]

In [12]:
l1[0][2]

2

In [15]:
result = []
for i in l1:
    for j in i:
        result.append(j)
result

['일',
 1,
 2,
 3,
 4,
 5,
 '이',
 1,
 2,
 3,
 4,
 5,
 '삼',
 1,
 2,
 3,
 4,
 5,
 '사',
 1,
 2,
 3,
 4,
 5,
 '오',
 1,
 2,
 3,
 4,
 5]