In [1]:
#1 화면에 Hello World 문자열을 출력하세요.
print('Hello Woerd')

Hello Woerd

In [3]:
#2 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cometics")

Mary's cometics

In [5]:
#3 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리지렀다."도둑이야".')

신씨가 소리지렀다."도둑이야".

In [9]:
#4 화면에 C:\Windows를 출력하세요.
print('C:\Windows')

C:\Windows

### 5 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요

### \n은 줄바꿈을 의미하고 \t는 tap을 의미한다.

In [8]:
#6 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print('"오늘은", "일요일"')

"오늘은", "일요일"

In [7]:
#7 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep=";")

naver;kakao;sk;samsung

In [1]:
#8 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep="/")

naver/kakao/sk/samsung

In [6]:
#9 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first",end=" ");print("secend")

first secend

In [8]:
#10 5/3의 결과를 화면에 출력하세요.
5/3

1.6666666666666667

In [9]:
#11 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000

In [13]:
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [19]:
#12 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 2980000000000000
현재가 = 500000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER,type(PER))

2980000000000000 <class 'int'>
500000 <class 'int'>
15.79 <class 'float'>

In [20]:
# 13 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = 'hello'
t = 'python'

In [22]:
print(s+"! "+t)

hello! python

In [23]:
#14 아래 코드의 실행 결과를 예상해보세요.
print(2+2*3)

8

In [24]:
#15 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = "132"
print(type(a))

<class 'str'>

In [26]:
#16 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [27]:
print(int(num_str),type(int(num_str)))

720 <class 'int'>

In [28]:
#17 정수 100을 문자열 '100'으로 변환해보세요.
print(str(100),type(str(100)))

100 <class 'str'>

In [30]:
#18 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
print(int(15.79),type(int(15.79)))

15 <class 'int'>

In [31]:
#19 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
print(int(year),type(int(year)))

2020 <class 'int'>

In [36]:
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [38]:
# 20 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
wol = 48584
print(wol*36)

1749024

In [43]:
#21 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0],letters[2])

p t

In [44]:
#22 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate='24가 2210'
print(license_plate[4:])

2210

In [47]:
#23 아래의 문자열에서 '홀' 만 출력하세요.
string='홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [51]:
#24 문자열을 거꾸로 뒤집어 출력하세요.
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [61]:
#25 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [65]:
#26 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [67]:
#27 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[17:])

kr

In [70]:
#28 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: 'str' object does not support item assignment

In [71]:
#29 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [72]:
#30 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b','B')
print(string)
# 문자열은 변경할 수 없는 자료형이기 떄문에 그대로 출력된다.

abcd

In [74]:
#31 아레코드를  예상해보세요
a = "3"
b = "4"
print(a + b)
# 문자열 을 더한 값인 34가 출력된다.

34

In [75]:
#32 아레코드를  예상해보세요
print("Hi" * 3)

#HiHIii

HiHiHi

In [78]:
#33 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [92]:
#34 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
t3 = t1 + ' '+ t2 + ' '
print(t3*4)

python java python java python java python java

In [95]:
#35 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s,나이: %d' % (name1,age1))
print('이름: %s,나이: %d' % (name2,age2))

이름: 김민수,나이: 10
이름: 이철희,나이: 13

In [96]:
#36 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
#37 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [105]:
#38 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
상장주식수.replace(',','')
print(int(상장주식수.replace(',','')))

5969782550

In [98]:
#39 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [102]:
#40 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [106]:
#41 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'