In [1]:
#1 화면에 Hello World 문자열을 출력하세요.
print('Hello Woerd')

Hello Woerd

In [3]:
#2 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cometics")

Mary's cometics

In [5]:
#3 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리지렀다."도둑이야".')

신씨가 소리지렀다."도둑이야".

In [9]:
#4 화면에 C:\Windows를 출력하세요.
print('C:\Windows')

C:\Windows

### 5 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요

### \n은 줄바꿈을 의미하고 \t는 tap을 의미한다.

In [8]:
#6 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print('"오늘은", "일요일"')

"오늘은", "일요일"

In [7]:
#7 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep=";")

naver;kakao;sk;samsung

In [1]:
#8 print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver",'kakao','sk','samsung',sep="/")

naver/kakao/sk/samsung

In [6]:
#9 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first",end=" ");print("secend")

first secend

In [8]:
#10 5/3의 결과를 화면에 출력하세요.
5/3

1.6666666666666667

In [9]:
#11 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000

In [13]:
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [19]:
#12 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 2980000000000000
현재가 = 500000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER,type(PER))

2980000000000000 <class 'int'>
500000 <class 'int'>
15.79 <class 'float'>

In [20]:
# 13 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = 'hello'
t = 'python'

In [22]:
print(s+"! "+t)

hello! python

In [23]:
#14 아래 코드의 실행 결과를 예상해보세요.
print(2+2*3)

8

In [24]:
#15 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = "132"
print(type(a))

<class 'str'>

In [26]:
#16 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [27]:
print(int(num_str),type(int(num_str)))

720 <class 'int'>

In [28]:
#17 정수 100을 문자열 '100'으로 변환해보세요.
print(str(100),type(str(100)))

100 <class 'str'>

In [30]:
#18 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
print(int(15.79),type(int(15.79)))

15 <class 'int'>

In [31]:
#19 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
print(int(year),type(int(year)))

2020 <class 'int'>

In [36]:
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [38]:
# 20 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
wol = 48584
print(wol*36)

1749024

In [43]:
#21 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0],letters[2])

p t

In [44]:
#22 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate='24가 2210'
print(license_plate[4:])

2210

In [47]:
#23 아래의 문자열에서 '홀' 만 출력하세요.
string='홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [51]:
#24 문자열을 거꾸로 뒤집어 출력하세요.
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [61]:
#25 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [65]:
#26 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [67]:
#27 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[17:])

kr

In [70]:
#28 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: 'str' object does not support item assignment

In [71]:
#29 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [72]:
#30 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b','B')
print(string)
# 문자열은 변경할 수 없는 자료형이기 떄문에 그대로 출력된다.

abcd

In [74]:
#31 아레코드를  예상해보세요
a = "3"
b = "4"
print(a + b)
# 문자열 을 더한 값인 34가 출력된다.

34

In [75]:
#32 아레코드를  예상해보세요
print("Hi" * 3)

#HiHIii

HiHiHi

In [78]:
#33 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [92]:
#34 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
t3 = t1 + ' '+ t2 + ' '
print(t3*4)

python java python java python java python java

In [95]:
#35 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s,나이: %d' % (name1,age1))
print('이름: %s,나이: %d' % (name2,age2))

이름: 김민수,나이: 10
이름: 이철희,나이: 13

In [96]:
#36 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
#37 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [105]:
#38 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
상장주식수.replace(',','')
print(int(상장주식수.replace(',','')))

5969782550

In [98]:
#39 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [102]:
#40 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [106]:
#41 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [1]:
#42 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [4]:
#43 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [3]:
# 44 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [7]:
# 45 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name.endswith(('xlsx','xls'))

True

In [9]:
# 46 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [10]:
#47 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
a.split(" ")

['hello', 'world']

In [12]:
# 48 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [13]:
# 49 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [14]:
# 50 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
data.rstrip()

'039490'

In [1]:
# 51 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)


movie_rank =["닥터스트레인지","스플릿","럭키"]

In [2]:
#52 
movie_rank.append("베트맨")

In [3]:
#53 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
print(movie_rank)
movie_rank.insert(1,"슈퍼맨")

['닥터스트레인지', '스플릿', '럭키', '베트맨']

In [4]:
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [5]:
#54 movie_rank 리스트에서 '럭키'를 삭제하라.movi
movie_rank.remove('럭키')
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '베트맨']

In [6]:
#55 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank.remove('스플릿')
movie_rank.remove('베트맨')
print(movie_rank)

['닥터스트레인지', '슈퍼맨']

In [8]:
#56 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [9]:
#57 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums),min(nums))

7 1

In [11]:
#58 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [12]:
#59 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [14]:
# 60 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

3.0

In [15]:
#61 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [16]:
#62 슬라이싱을 사용해서 홀수만 출력하라
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [22]:
#63 슬라이싱을 사용해서 짝수만 출력하라.
nums[1::2]

[2, 4, 6, 8, 10]

In [24]:
#64 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [26]:
#65 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']
interest[::2]

['삼성전자', 'Naver']

In [29]:
# 66 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [30]:
#67 interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [34]:
#68 join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
'\n,'.join(interest)

'삼성전자\n,LG전자\n,Naver\n,SK하이닉스\n,미래에셋대우'

In [37]:
#69  회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [39]:
#70 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [40]:
#71 my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()

In [41]:
#72 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
my_variable = list(my_variable)
my_variable.append("닥터 스트레인지")
my_variable.append("스플릿")
my_variable.append("럭키")
my_variable = tuple(my_variable)

In [42]:
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [47]:
# 73 숫자 1 이 저장된 튜플을 생성하라.
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>